{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div>
                        <h1>Login</h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                        <P>
                            <label for="{{ form.username.id_for_label }}"></label>
                            {{ form.username.errors }}
                        <input type="text" name="username" id="id_username" placeholder="Username or Email ">
                        </P>
                         <P><label for="{{ form.password.id_for_label }}"></label>
                            {{ form.password.errors }}
                        <input type="password" name="password" id="id_password"  placeholder="Password">
                        </P>
                        <center><button class="tg-btn" type="submit">Login</button> </center><br>
                        <center><p><a href="{% url 'password_reset' %}">Forgot Password ?</a></center></p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}