{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 style="text-align: center;">Password Reset</h2>
</div>
<div class="row" style="margin-top: 60px;">
</div>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <p>
    We've emailed you instructions for setting your password, if an account exists with the email you have entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the email-address you registered with,
    and check your spam folder.
  </p>
  </div>
  <div class="col-md-3">
  </div>
</div>
</div>
{% endblock %}