{% extends 'home/base.html' %}
{% load staticfiles %}
{% load staticfiles %}
{% block index %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if validlink %}
            <form method="post">{% csrf_token %}
                <!-- {{ form.new_password1 }} -->
                {{ form.non_field_errors }}
                <p>{{ form.new_password1.errors }}</p>
                <p>{{ form.new_password2.errors }}</p>
                <p><input type="password" name="new_password1" required="" id="id_new_password1" class="input-lg form-control" placeholder="New Password"></p>
                <p><input type="password" name="new_password2" required="" id="id_new_password2" class="input-lg form-control" placeholder="Confirm Password"></p>
                <div class="form-group">
                    <center><button class="tg-btn" type="submit">Submit</button> </center>
                </div>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                To create new password reset,please <a href="{% url 'password_reset' %}">Click Here</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}