{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<div class="container">
<div class="row" style="text-align: center; margin: 60px;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
      <p>
    Your password has been reset. You may go ahead and <a href="{% url 'authentication:login' %}">sign in</a> now.
  </p>
  </div>
  <div class="col-md-2">
  </div>
</div>
</div>
{% endblock %}