{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
            <!--************************************
                Inner Page Banner Start
        *************************************-->
        <!--************************************
                Inner Page Banner End
        *************************************-->
        <!--************************************
                Main Start
        *************************************-->
        <main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
            <!--************************************
                    Login Register Start
            *************************************-->
            <div class="tg-main-section tg-haslayout">
                <div class="container">
                    <div class="row">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                                
     <div class="row">
        {% for field in form %}
       <div class="col-md-6">    
        {{ field.label_tag }}
        
       
       <div class="col-md-12">
         {{ field }}
          {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
          {% endfor %}<br><br><br>
       </div>
       </div>
        {% endfor %}
<br>
    </div>
                                                <div class="form-group">
                                                    <div class="tg-checkbox">
                                                        <input type="checkbox" id="terms">
                                                        <label for="terms">I have read the <a href="#">Terms &amp; Conditions</a> and accept them</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="tg-checkbox">
                                                        <span>Already have an account?<a href="#"> Login Now</a></span>
                                                    </div>
                                                </div>
                                                <button class="tg-btn" type="submit">Register Now</button>
                            </form>
                    </div>
                </div>
            </div>
            <!--************************************
                    Login Register End
            *************************************-->
{% endblock %}

