{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<html>
<link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'js/star-ratings.min.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="jquery-timepicker/jquery.timepicker.min.css">
<script src="jquery-timepicker/jquery.timepicker.min.js"></script>

</html>
<!--************************************
            Inner Page Banner Start
    *************************************-->
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            </script>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% comment %}
                <div class="tg-pagetitle">
                    <h1>Lab Details</h1>
                </div>
                {% endcomment %}
                <ol class="tg-breadcrumb">
                    <li><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="tg-active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
</form>
<!-- Modal -->
<div class="modal fade login" id="modal-event">
    <div class="modal-dialog login animated">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--************************************
            Inner Page Banner End
    *************************************-->
<div class="container">
    <div class="row">
        <div class="tg-detailpage tg-jobdetail">
            <div class="tg-detailpagehead">
                <!-- carouserl start -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ lab.image1.url }}" alt="Los Angeles" style="width:100%;height: 500px;">
                        </div>
                        <div class="item">
                            <img src="{{ lab.image2.url }}" alt="Chicago" style="width:100%;height: 500px;">
                        </div>
                        <div class="item">
                            <img src="{{ lab.image3.url }}" alt="New york" style="width:100%;height: 500px;">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- carousel end -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-detailpageheadcontent">
                        <div class="tg-companylogo"><img src="{% static 'images/logos/img-15.jpg' %}" alt="image description"></div>
                        <div class="tg-companycontent">
                            <ul class="tg-tags">
                                <li><a class="tg-tag" href="#">{{ lab.lab_type }}</a></li>
                            </ul>
                            <div class="tg-title">
                                <h1>{{ lab.name }}</h1>
                                <span class="tg-jobpostedby"><a href="javascript:void(0);">${{ lab.price }} Per {{lab.time_period}}</a></span>
                            </div>
                        </div>
                        {% if average == 1 %}
                        <li><img src="{% static 'images/1.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 1.5 %}
                        <li><img src="{% static 'images/1.5.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 2 %}
                        <li><img src="{% static 'images/2.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 2.5 %}
                        <li><img src="{% static 'images/2.5.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 3 %}
                        <li><img src="{% static 'images/3.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 3.5 %}
                        <li><img src="{% static 'images/3.5.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 4 %}
                        <li><img src="{% static 'images/4.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 4.5 %}
                        <li><img src="{% static 'images/4.5.png' %}" style="width: 100px;height: auto;"></li>
                        {% elif average == 5 %}
                        <li><img src="{% static 'images/5.png' %}" style="width: 100px;height: auto;"></li>
                        {% else %}
                        <li><img src="{% static 'images/0.png' %}" style="width: 100px;height: auto;"></li>
                        {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                        {% if lab.company.owner != request.user %}
                        <button><a class="js-add-order tg-btn" data-url="{% url 'booking:book' lab.pk %}">book now</a></button>
                        {% endif %}
                        {% else %}
                        <button><a class="tg-btn" href="{% url 'authentication:login'%}">book now</a></button>
                        {% endif %}
                    </div>
                    <ul class="tg-jobmatadata">
                        <li>
                            <div class="tg-box tg-posteddate">
                                <span class="tg-jobmataicon"><i class="lnr lnr-calendar-full"></i></span>
                                <div class="tg-jobmatacontent">
                                    <strong>Posted Date</strong>
                                    <span>January 12th, 2011</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tg-box tg-applicantapplied">
                                <span class="tg-jobmataicon"><i class="lnr lnr-book"></i></span>
                                <div class="tg-jobmatacontent">
                                    <strong>Applicants Applied</strong>
                                    <span>3479 Applications Received</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tg-box tg-views">
                                <span class="tg-jobmataicon"><i class="lnr lnr-eye"></i></span>
                                <div class="tg-jobmatacontent">
                                    <strong>Views</strong>
                                    <span>Total Views: 22508</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tg-box tg-expiredate">
                                <span class="tg-jobmataicon"><i class="lnr lnr-warning"></i></span>
                                <div class="tg-jobmatacontent">
                                    <strong>Expire Date</strong>
                                    <span>July 27, 2017</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="tg-twocolumns" class="tg-twocolumns">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 pull-left">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-companyfeatures">
                            <div class="tg-companyfeaturebox tg-introduction">
                                <div class="tg-companyfeaturetitle">
                                    <h3>Details</h3>
                                </div>
                                <div class="tg-description">
                                    {{ lab.details }}
                                </div>
                            </div>
                            <div class="tg-companyfeaturebox tg-jobdetails">
                                <div class="tg-companyfeaturetitle">
                                    <h3>More Information</h3>
                                </div>
                                <ul>
                                    <li>
                                        <span>Address:</span>
                                        <span>{{ lab.city }}, {{ lab.country }}</span>
                                    </li>
                                    <li>
                                        <span>Contact Person:</span>
                                        <span>{{ lab.contact_person }}</span>
                                    </li>
                                    <li>
                                        <span>Contact Email:</span>
                                        <span>{{ lab.contact_email }}</span>
                                    </li>
                                    <li>
                                        <span>Contact Phone:</span>
                                        <span>{{ lab.contact_phone }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="tg-companyfeaturebox tg-jobrequirments">
                                <div class="tg-companyfeaturetitle">
                                    <h3>Guest and Lab use Requirements</h3>
                                </div><!--
                                <div class="tg-description">
                                    <p>{{ lab.lab_requirements }}</p>
                                </div>-->
                                <ul class="tg-themeliststyle tg-themeliststyletick">
                                    <li>{{ lab.lab_requirements }}</li>
                                    <li>1+ years experience teaching regular group classes</li>
                                    <li>Current CPR</li>
                                    <li>Agree to 6 month minimum commitment</li>
                                    <li>Ability to approach challenges in a creative, positive and team-centered
                                        manner
                                    </li>
                                    <li>Strong communication and interpersonal skills</li>
                                </ul>
                            </div>
                            <div class="tg-companyfeaturebox tg-benefitsallowances">
                                <div class="tg-companyfeaturetitle">
                                    <h3>Benefits / Equipment</h3>
                                </div>
                                <ul class="tg-themeliststyle tg-themeliststylecircletick">
                                    <li>{{ lab.lab_equipments }}</li>
                                    <li>Eiusmod Tempor</li>
                                    <li>Incididunt Ut Labore</li>
                                    <li>Dolore Magna Aliqua</li>
                                    <li>Ad Minim Veniam</li>
                                    <li>Exercitation Ullamco</li>
                                    <li>Laboris Nisi Ut Aliquip</li>
                                    <li>Commodo Consequat</li>
                                    <li>Reprehenderit In Voluptate</li>
                                    <li>Velit Esse Cillum Dolore</li>
                                    <li>Fugiat Nulla Pariatur</li>
                                    <li>Excepteur Sint Occaecat</li>
                                    <li>Cupidatat Non Proident</li>
                                    <li>Officia Deserunt Mollit</li>
                                    <li>Perspiciatis Unde Omnis Iste</li>
                                    <li>Natus Error Sit</li>
                                    <li>Voluptatem Accusantium</li>
                                    <li>Laudantium</li>
                                </ul>
                            </div><br>
                            <style>
                                .main{
                                        float: right;
                                        margin-top: -20px;
                                    }
                                    .star{
                                      width:25px;
                                      height:25px;
                                      -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                                      background:white;
                                    }
                                    .star-border{
                                      filter: drop-shadow(0px 0px 4px black);
                                      display:inline-block;
                                    }
                                    .star-border:hover{
                                      cursor:pointer;
                                    }
                                    </style>
                            <script type="text/javascript">
                            $(document).ready(function() {
                                var set;
                                $(".star-border").click(function() {
                                    $(this).find(".star").css("background", "gold");
                                    $(this).prevAll().find(".star").css("background", "gold");
                                    $(this).nextAll().find(".star").css("background", "white");
                                    set = $(this).prevAll().length + 1;
                                    document.getElementById("id_rating").value = set;
                                });

                                setInterval(function() {
                                    $(".debug").text(set);
                                }, 50);

                            });
                            </script>
                            <div class="tg-widgettitle">
                            </div>
                            <div class="tg-companyfeaturebox tg-jobrequirments">
                                <div class="tg-companyfeaturetitle">
                                    <h3>Review And Rate Your Experience:</h3>
                                    <div class="main">
                                        <div class="star-border">
                                            <div class="star"></div>
                                        </div>
                                        <div class="star-border">
                                            <div class="star"></div>
                                        </div>
                                        <div class="star-border">
                                            <div class="star"></div>
                                        </div>
                                        <div class="star-border">
                                            <div class="star"></div>
                                        </div>
                                        <div class="star-border">
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                                <form method='POST'>
                                    {% csrf_token %}
                                    <div class="form-group" style="display: none;">
                                        <input type="number" name="rating" class="star-border" required="" id="id_rating">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="review" placeholder="Write Your Review" id="id_review">
                                        <br><br>
                                        <div class="form-group">
                                            <button class="btn btn-outline-info btn-sm mb-4 tg-btn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tg-widgettitle" style="padding-left: 0px;">
                                <h3>Reviews:</h3>
                            </div>
                            <div class="tg-companyfeaturebox tg-jobrequirments" style="padding: 0px;">
                                {% for review in reviews %}
                                <div class="tg-serviceprovidercontent">
                                    <div class="tg-companylogo" style="height: 50px;width: 50px;"><img src="{{review.user.profile.get_picture}}" alt="image description"></div>
                                    <div class="tg-companycontent">
                                        <div class="tg-title">
                                            <h3>{{review.review}}</h3>
                                        </div>
                                        <span class="tg-jobpostedby">By: {{review.user.username}}</span>
                                        {% if review.rating == 1 %}
                                        <img src="{% static 'images/1.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 1.5 %}
                                        <img src="{% static 'images/1.5.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 2 %}
                                        <img src="{% static 'images/2.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 2.5 %}
                                        <img src="{% static 'images/2.5.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 3 %}
                                        <img src="{% static 'images/3.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 3.5 %}
                                        <img src="{% static 'images/3.5.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 4 %}
                                        <img src="{% static 'images/4.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 4.5 %}
                                        <img src="{% static 'images/4.5.png' %}" style="width: 60px;height: auto;"> {% elif review.rating == 5 %}
                                        <img src="{% static 'images/5.png' %}" style="width: 60px;height: auto;"> {% else %}
                                        <img src="{% static 'images/0.png' %}" style="width: 60px;height: auto;"> {% endif %}
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 pull-right">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-widget tg-widgetlocationandcontactinfo">
                            <div class="tg-mapbox">
                                <div id="tg-joblocationmap" class="tg-locationmap"></div>
                            </div>
                            <div class="tg-contactinfobox">
                                <ul class="tg-contactinfo">
                                    <li>
                                        <i class="lnr lnr-location"></i>
                                        <address>{{ lab.city }}, {{ lab.country }}</address>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-phone-handset"></i>
                                        <span>0800 - 1234 - 562 - 6</span>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-printer"></i>
                                        <span>+4 1234 567 - 9</span>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-envelope"></i>
                                        <span><a href="mailto:query@domain.com">query@labslot.com</a></span>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-construction"></i>
                                        <span><a href="mailto:complaint@domain.com">complaint@labslot.com</a></span>
                                    </li>
                                    <li>
                                        <i class="lnr lnr-screen"></i>
                                        <span><a href="www.domainurl.com" target="_blank">www.domainurl.com</a></span>
                                    </li>
                                </ul>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <a class="tg-btn tg-btn-lg" href="javascript:void(0);">get directions</a>
                            </div>
                        </div>
                        <div class="tg-widget tg-widgetshare">
                            <div class="tg-widgettitle">
                                <h3>Share this lab</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-widget tg-widgetrelatedjobs">
                            <div class="tg-widgettitle">
                                <h3>Related Labs</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul>
                                    <li>
                                        <div class="tg-serviceprovidercontent">
                                            <div class="tg-companylogo"><a href="#"><img src="{% static 'images/logos/img-01.png' %}" alt="image description"></a></div>
                                            <div class="tg-companycontent">
                                                <a class="tg-tag tg-tagjobtype" href="#">fix</a>
                                                <div class="tg-title">
                                                    <h3><a href="#">Carpenter Required</a></h3>
                                                </div>
                                                <span class="tg-jobpostedby">By: <a href="javascript:void(0);">Blue Bird Organization</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tg-serviceprovidercontent">
                                            <div class="tg-companylogo"><a href="#"><img src="{% static 'images/logos/img-02.png' %}" alt="image description"></a></div>
                                            <div class="tg-companycontent">
                                                <a class="tg-tag tg-tagjobtype" href="#">Internship</a>
                                                <div class="tg-title">
                                                    <h3><a href="#">Electrician For Fixing Required</a></h3>
                                                </div>
                                                <span class="tg-jobpostedby">By: <a href="javascript:void(0);">On Fleek Spa &amp; Beauty Saloon</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tg-serviceprovidercontent">
                                            <div class="tg-companylogo"><a href="#"><img src="{% static 'images/logos/img-03.png' %}" alt="image description"></a></div>
                                            <div class="tg-companycontent">
                                                <a class="tg-tag tg-tagjobtype" href="#">Temporary</a>
                                                <div class="tg-title">
                                                    <h3><a href="#">Car Fixing Mechanic Required</a></h3>
                                                </div>
                                                <span class="tg-jobpostedby">By: <a href="javascript:void(0);">Eldridge Hemenway</a></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {

    /* Functions */

    var loadForm = function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function() {
                $("#modal-event").modal("show");
            },
            success: function(data) {
                $("#modal-event .modal-content").html(data.html_form);
            }
        });
    };

    var saveForm = function() {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data) {
                if (data.form_is_valid) {
                    $(".w3ls-header-right #test ul").html(data.html_user);
                    $("#modal-event").modal("hide");
                } else {
                    $("#modal-event .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    };
    var orderForm = function() {
        var form = $(this);
        var abc = "suceessful"
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data) {
                if (data.form_is_valid) {
                    $(".w3ls-header-right #test ul").html(data.html_user);
                    $(".modal-body").html("<h2><center>Lab has been Booked successfully. THANKYOU!!!</center></h2>");
                    $(".modal-footer").html("<button type='button' class='btn tg-btn' data-dismiss='modal'>Close</button>");
                } else {
                    $("#modal-event .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    };

    $(".js-add-order").click(loadForm);
    $("#modal-event").on("submit", ".js-order-pleced", orderForm);
});
</script>
{% endblock %}