{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<center><p><form method="post">
	{% csrf_token %}
	<h3> Are you sure want to delete "{{ lab }}"</h3>
	<input type="submit" value="Confirm" style="background-color: rgb(93, 197, 96);border:rgb(93,197,96);" class="tg-btn">
</form></p></center>
{% endblock %}