{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<!--************************************
        Inner Page Banner Start
*************************************-->
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>Create a Lab</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="tg-active">Create Lab</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
            Inner Page Banner End
    *************************************-->
<!--************************************
                Login Register Start
        *************************************-->
<div class="tg-main-section tg-haslayout">
    <div class="container">
        <div class="row">
            <form class="tg-themeform tg-formlogin-register" action="" method="post" enctype="multipart/form-data">
                {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
                <div class="row">
                    {% for field in form %}
                    <div class="col-md-4">
                        {{ field.label_tag }}
                        {% for error in field.errors %}
                        <div class="row">
                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>{{error}}</div>
                        </div>
                        {% endfor %}
                        <div class="col-md-12">
                            {{ field }}
                            {% for error in field.errors %}
                            <p style="color: red;">{{error}}</p>
                            {% endfor %}<br><br><br>
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <div class=" col-sm-10">
                        <button class="tg-btn tg-btn-sm" type="submit" style="float: left;">Create Lab</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--************************************
                Login Register End
        *************************************-->
<!--************************************
				Main Start
		************************************
		<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
			<!--************************************
					Login Register Start
			*************************************
			<div class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="row">
						<div id="tg-content" class="tg-content">
							<form class="tg-themeform tg-formlogin-register">
								<div class="col-xs-12 col-sm-8 col-md-8 col-lg-12">
									<div class="tg-heading">
										<h2>Create a Listing</h2>
									</div>
                                    <form method="post">
									<fieldset>
										<ul class="tg-tabnav" role="tablist">
											<li role="presentation" class="active">
												<a href="#regularuser" data-toggle="tab">
													<span class="lnr lnr-user"></span>
													<div class="tg-navcontent">
														<h3>Add a Lab</h3>
														<span>Add a lab here</span>
													</div>
												</a>
											</li>
											<li role="presentation">
												<a href="#company" data-toggle="tab">
													<span class="lnr lnr-briefcase"></span>
													<div class="tg-navcontent">
														<h3>Add a Service or Equipment</h3>
														<span>Add a Service or equimpent here</span>
													</div>
												</a>
											</li>
										</ul>
										<div class="tg-themetabcontent tab-content">
											<div class="tab-pane active fade in" id="regularuser">
												<div class="form-group">
												</div>
												<div class="form-group">
													<input type="text" name="text" class="form-control" placeholder="Your Name">
												</div>
                                                <div class="form-group">
													<input type="text" name="text" class="form-control" placeholder="Company">
												</div>
												<div class="form-group">
													<input type="text" name="text" class="form-control" placeholder="Mobile">
												</div>
												<div class="form-group">
													<input type="email" name="email" class="form-control" placeholder="Email">
												</div>
												<div class="form-group">
													<input type="password" name="password" class="form-control" placeholder="Password">
												</div>
												<div class="form-group">
													<input type="password" name="retype-password" class="form-control" placeholder="Retype Password">
												</div>
												<div class="form-group">
													<img src="{%  static 'images/placeholder/img-02.png' %}" alt="image description">
												</div>
												<div class="form-group">
													<div class="tg-checkbox">
														<input type="checkbox" id="terms">
														<label for="terms">I have read the <a href="#">Terms &amp; Conditions</a> and accept them</label>
													</div>
												</div>
												<button class="tg-btn" type="submit">Register Now</button>
												<ul class="tg-socialicons tg-socialsharewithtext">
													<li class="tg-facebook">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-facebook-f"></i>
																<span>facebook</span>
															</em>
														</a>
													</li>
													<li class="tg-twitter">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-twitter"></i>
																<span>twitter</span>
															</em>
														</a>
													</li>
													<li class="tg-linkedin">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-linkedin"></i>
																<span>linkdin</span>
															</em>
														</a>
													</li>
													<li class="tg-googleplus">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-google-plus"></i>
																<span>googl+</span>
															</em>
														</a>
													</li>
													<li class="tg-tumblr">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-tumblr"></i>
																<span>tumblr</span>
															</em>
														</a>
													</li>
													<li class="tg-vimeo">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-vimeo"></i>
																<span>vimeo</span>
															</em>
														</a>
													</li>
												</ul>
											</div>
											<div class="tab-pane fade in" id="company">
												<div class="form-group">
													<div class="tg-registeras">
														<span>Register As:</span>
														<div class="tg-radio">
															<input type="radio" id="business" name="register" checked>
															<label for="business">Business</label>
														</div>
														<div class="tg-radio">
															<input type="radio" id="professional" name="register">
															<label for="professional">service manager</label>
														</div>
													</div>
												</div>
                                                <div>
                                                  {% csrf_token %}
                                                     {{ form.as_p }}
                                                <h3>Subscriptions Available</h3>
                                                </div>
												<div class="form-group">
													<img src="{% static 'images/placeholder/img-02.png' %}" alt="image description">
												</div>
												<div class="form-group">
													<div class="tg-checkbox">
														<input type="checkbox" id="conditions">
														<label for="conditions">I have read the <a href="#">Terms &amp; Conditions</a> and accept them</label>
													</div>
												</div>
												<button class="tg-btn" type="submit">Register Now</button>
												<ul class="tg-socialicons tg-socialsharewithtext">
													<li class="tg-facebook">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-facebook-f"></i>
																<span>facebook</span>
															</em>
														</a>
													</li>
													<li class="tg-twitter">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-twitter"></i>
																<span>twitter</span>
															</em>
														</a>
													</li>
													<li class="tg-linkedin">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-linkedin"></i>
																<span>linkdin</span>
															</em>
														</a>
													</li>
													<li class="tg-googleplus">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-google-plus"></i>
																<span>googl+</span>
															</em>
														</a>
													</li>
													<li class="tg-tumblr">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-tumblr"></i>
																<span>tumblr</span>
															</em>
														</a>
													</li>
													<li class="tg-vimeo">
														<a class="tg-roundicontext" href="javascript:void(0);">
															<em class="tg-usericonholder">
																<i class="fa fa-vimeo"></i>
																<span>vimeo</span>
															</em>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</fieldset>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Login Register End
			*************************************-->
{% endblock %}