{% load staticfiles %}
    <!--************************************
        Latest Services Provider Start
    *************************************-->

    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>Lab spaces for hire</h2>
                        </div>
                        <div class="tg-description">
                            <p>Find close and cost effective lab spaces that are suited to your project
                                requirements.</p>
                        </div>
                    </div>
                </div>
                <div class="tg-latestserviceproviders">
                    {% if labs %}
                        {% for lab in labs %}
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="tg-serviceprovider tg-automotive">
                                    <figure class="tg-featuredimg" href="{% url 'labs:lab_detail' lab.id %}">
                                        <img src="{{ lab.image1.url }}"
                                             alt="image description">
                                        <figcaption>
                                                    <a class="tg-themetag tg-categorytag" href="javascript:void(0);">{{ lab.lab_type }}</a>
                                                    <a class="tg-heart" href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                                </figcaption>
                                    </figure>
                                    <div class="tg-serviceprovidercontent">
                                        <div class="tg-companylogo"><a href="{% url 'labs:lab_detail' lab.id %}"><img
                                                src="{% static 'images/logos/img-01.png' %}"
                                                alt="image description"></a></div>
                                        <div class="tg-companycontent">
                                            <ul class="tg-tags">
                                                <!--<li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>-->
                                                <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                            </ul>
                                            <div class="tg-title">
                                                <p><a href="{% url 'labs:lab_detail' lab.id %}">{{ lab.name }}</a></p>
                                                <p>{{ lab.city }}. {{lab.country}}<br>${{ lab.price }} <ul class="tg-matadata" style="margin-top: -40px;margin-left: 55px;">
                                                    {% if lab.average_ratings == 1 %}
                                                    <li><img src="{% static 'images/1.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 1.5 %}
                                                    <li><img src="{% static 'images/1.5.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif lab.average_ratings == 2 %}
                                                    <li><img src="{% static 'images/2.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 2.5 %}
                                                    <li><img src="{% static 'images/2.5.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif lab.average_ratings == 3 %}
                                                    <li><img src="{% static 'images/3.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 3.5 %}
                                                    <li><img src="{% static 'images/3.5.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif lab.average_ratings == 4 %}
                                                    <li><img src="{% static 'images/4.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif lab.average_ratings == 4.5 %}
                                                    <li><img src="{% static 'images/4.5.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% elif lab.average_ratings == 5 %}
                                                    <li><img src="{% static 'images/5.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% else %}
                                                    <li><img src="{% static 'images/0.png' %}" style="width: 65px;height: auto;"></li>
                                                    {% endif %}
                                                </ul></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>Sorry, there are no labs to show yet.</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!--************************************
        Latest Services Provider End
    *************************************-->