{% extends 'home/base.html' %}
{% load staticfiles %}
    <!--************************************
        Latest Services Provider Start
    *************************************-->
    {% block index %}
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>My Labs</h2>
                        </div>
                       
                    </div>
                </div>
                <div class="tg-latestserviceproviders">
                    {% if labs %}
                        {% for lab in labs %}
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="tg-serviceprovider tg-automotive">
                                    <figure class="tg-featuredimg" href="{% url 'labs:lab_detail' lab.id %}">
                                        <img src="{{ lab.image1.url }}"
                                             alt="image description">
                                        <figcaption>
                                            <a class="tg-themetag tg-categorytag"
                                               href="javascript:void(0);">{{ lab.type }}</a>
                                            <a class="tg-heart tg-liked" href="javascript:void(0);"><i
                                                    class="fa fa-heart"></i></a>
                                        </figcaption>
                                    </figure>
                                    <div class="tg-serviceprovidercontent">
                                        <div class="tg-companylogo"><a href="{% url 'labs:lab_detail' lab.id %}"><img
                                                src="{% static 'images/logos/img-01.png' %}"
                                                alt="image description"></a></div>
                                        <div class="tg-companycontent">
                                            <ul class="tg-tags">
                                                <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                                <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                            </ul>
                                            <div class="tg-title">
                                                <p><a href="{% url 'labs:lab_detail' lab.id %}">{{ lab.name }}</a></p>
                                                <p>{{ lab.city }}. {{lab.country}}<br>${{ lab.price }} {{ labs.time_period }}</p>
                                            </div>
                                            <ul class="tg-matadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li>
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                    <em>99% (1009 votes)</em>
                                                </li>
                                            </ul>
                                             <a href="{% url 'labs:lab_update' lab.pk %}"><i class="fa fa-edit fa-2x" title="update"></i></a>&nbsp;
                                        <a href="{% url 'labs:lab_delete' lab.pk %}" class="js-delete-book"><i class="fa fa-trash fa-2x" title="delete" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>Sorry, there are no labs to show yet.</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    <!--************************************
        Latest Services Provider End
    *************************************-->