{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Account Settings' %}{% endblock %}
{% block index %}
<div class="container">
    <div class="page-content" style="padding:30px">
        <div class="row">
            <div class="col-md-2">
                {% include 'profile/partial_settings_menu.html' with active='company' %}
            </div>

<center><form method="post">
	{% csrf_token %}
	<h3> Are you sure want to delete "{{ company }}"</h3>
	<input type="submit" value="Confirm" class="tg-btn" style="background-color: rgb(93, 197, 96);border:rgb(93,197,96);
">
</form></center>
        </div>
    </div>
</div>
{% endblock index %}
