{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Account Settings' %}{% endblock %}
{% block index %}
<div class="container">
    <div class="page-content" style="padding:30px">
        <div class="row">
            <div class="col-md-2">
                {% include 'profile/partial_settings_menu.html' with active='company' %}
            </div>
            <div class="col-md-9">
                <div class="tg-latestserviceproviders">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        {% for company in companies %}
                        {% if company.owner.is_authenticated and company.owner == request.user %}
                        <div class="tg-serviceprovider tg-automotive">
                            <figure class="tg-featuredimg" href="#">
                                <img src="{% static 'images/serviceproviders/img-01.jpg' %}"
                                             alt="image description">
                                <figcaption>
                                    <a class="tg-themetag tg-categorytag"
                                               href="javascript:void(0);">{{ lab.type }}</a>
                                    <a class="tg-heart tg-liked" href="javascript:void(0);"><i
                                                    class="fa fa-heart"></i></a>
                                </figcaption>
                            </figure>
                            <div class="tg-serviceprovidercontent">
                                {% comment %}
                                <div class="tg-companylogo"><a href="#"><img
                                                src="{% static 'images/logos/img-01.png' %}"
                                                alt="image description"></a></div>
                                {% endcomment %}
                                <div class="tg-companycontent">
                                    <ul class="tg-tags">
                                        <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                        <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                    </ul>
                                    <div class="tg-title">
                                        <h2><a href="#">Name:{{ company.company_name}}</a></h2>
                                        <h3>Address:{{ company.company_address}}</h3><br>
                                        <h3>Status:{{ company.company_verified}}</h3><br>
                                        <a href="{% url 'labs:company-update' company.pk %}"><i class="fa fa-edit fa-2x" title="update"></i></a>&nbsp;
                                        <a href="{% url 'labs:company-delete' company.pk %}" class="js-delete-book"><i class="fa fa-trash fa-2x" title="delete" aria-hidden="true"></i></a>
                                    </div>
                                    <ul class="tg-matadata">
                                        <li><span class="tg-stars"><span></span></span></li>
                                        <li>
                                            <i class="fa fa-thumbs-o-up"></i>
                                            <em>99% (1009 votes)</em>
                                        </li>
                                    </ul>
                                    <hr><br>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock index %}