{% extends 'home/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Add Company' %}{% endblock %}
{% block index %}
<div class="container">
   <div class="page-content" style="padding:30px">
    <div class="row">
        <div class="col-md-2">
            {% include 'profile/partial_settings_menu.html' with active='Add Company' %}
        </div>
        <div class="col-md-9">
            <form role="form" class="form-horizontal" method="post">
            	{{ form.as_p }}
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="tg-btn">{% trans 'Save' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
{% endblock index %}
