{% extends 'home/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block index %}
<!--************************************
            Inner Page Banner Start
    *************************************-->
<link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'js/star-ratings.min.js' %}"></script>
<div class="tg-mapinnerbanner">
    <div class="tg-searchbox">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-1 col-lg- col-lg-push-3">
                    <form class="tg-themeform tg-formsearch">
                        <fieldset>
                            {% render_field filter.form.name class="form-control" %}
                            <button class="tg-btn" type="submit"><i class="lnr lnr-magnifier"></i></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="tg-map" class="tg-map"></div>
</div>
<!--************************************
            Inner Page Banner End
    *************************************-->
<!--************************************
            Main Start
    *************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-sectiontitle">
                <h2>Lab Spaces</h2>
            </div>
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 pull-right">
                    <div class="row">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-listing tg-listview">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="tg-totallistingfound">{{filter.qs.count}} Results Found</span>
                                    <div class="tg-sortfilters">
                                        <div class="tg-sortfilter tg-sortby">
                                            <span>Sort By:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>Name</option>
                                                    <option>Type</option>
                                                    <option>date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-arrange">
                                            <span>Arrange:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>des</option>
                                                    <option>Asc</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-show">
                                            <span>Show:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>12</option>
                                                    <option>24</option>
                                                    <option>all</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Lab Providers -->
                                <div class="tg-serviceproviders">
                                    {% if filters %}
                                    {% for filter in filters %}
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="tg-serviceprovider tg-automotive">
                                            {% if filter.image1 %}
                                            <figure class="tg-featuredimg">
                                                <img src="{{ filter.image1.url }}" alt="image description">
                                                <figcaption>
                                                    <a class="tg-themetag tg-categorytag" href="javascript:void(0);">{{ filter.lab_type }}</a>
                                                    <a class="tg-heart" href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                                    <ul class="tg-tags">
                                                        <li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>
                                                        <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            {% endif %}
                                            <div class="tg-companycontent">
                                                <div class="tg-title">
                                                    <h4>
                                                        <a href="{% url 'labs:lab_detail' filter.id %}">{{ filter.name }}</a>
                                                    </h4>
                                                    <p>{{ filter.city }}, {{filter.country}}<br>${{ filter.price }} {{ filter.time_period }}</p>
                                                </div>
                                                Ratings:
                                                <ul class="tg-matadata">
                                                    {% if filter.average_ratings == 1 %}
                                                    <li><img src="{% static 'images/1.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 1.5 %}
                                                    <li><img src="{% static 'images/1.5.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 2 %}
                                                    <li><img src="{% static 'images/2.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 2.5 %}
                                                    <li><img src="{% static 'images/2.5.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 3 %}
                                                    <li><img src="{% static 'images/3.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 3.5 %}
                                                    <li><img src="{% static 'images/3.5.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 4 %}
                                                    <li><img src="{% static 'images/4.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 4.5 %}
                                                    <li><img src="{% static 'images/4.5.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% elif filter.average_ratings == 5 %}
                                                    <li><img src="{% static 'images/5.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% else %}
                                                    <li><img src="{% static 'images/0.png' %}" style="width: 100px;height: auto;"></li>
                                                    {% endif %}
                                                </ul>
                                                <button><a class="js-add-order tg-btn" href="{% url 'labs:lab_detail' filter.id %}">View Details</a></button>

                                                
                                                {% comment %}
                                                {% if user.is_authenticated %}
                                                {% if lab.company.owner != request.user %}
                                                <button><a class="js-add-order tg-btn" data-url="{% url 'booking:book' filter.pk %}">book now</a></button>
                                                {% endif %}
                                                {% else %}
                                                <button><a class="tg-btn" href="{% url 'authentication:login'%}">book now</a></button>
                                                {% endif %}
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>Sorry, there are no labs to show yet.</h2>
                                    {% endif %}
                                </div>
                                <!-- Lab Providers End -->
                                <center>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <nav class="pagination">
                                            {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                <li><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                                {% else %}
                                                <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                {% else %}
                                                <li><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                <li><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </nav>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-left">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <form class="tg-themeform tg-formrefinesearch">
                            <fieldset>
                                <h4>Filter By Location</h4>
                                <div class="tg-checkboxgroup">
                                    <div class="form-group">
                                        <label for="id_country">Country:</label>
                                        {% render_field filter.form.country class="form-control" %}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_city">City:</label>
                                        {% render_field filter.form.city class="form-control" %}
                                    </div>
                                    <div class="form-group">
                                        {{ filter.form.lab_type.label_tag }}
                                        {% render_field filter.form.lab_type class="form-control" %}
                                    </div>
                                    <div class="form-group">
                                        {{ filter.form.time_period.label_tag }}
                                        {% render_field filter.form.time_period class="form-control" %}
                                    </div>
                                    <br>
                                    <!--  Jquery ( Needed for the Range Slider  filter) -->
                                    <link rel="stylesheet" href="{% static 'css/jquery-ui.css.css' %}">
                                    <script src="{% static 'js/slider.js' %}"></script>
                                    <script src="{% static 'js/slider_ui.js' %}"></script>
                                    <script>
                                        // scripts for the range slider 
                                           $(document).ready(function () {
                                              var outputSpan = $('#spanOutput');
                                              var sliderDiv = $('#slider');

                                              sliderDiv.slider({
                                                  range: true,
                                                  min: 0,
                                                  max: 10000,
                                                  values: [0, 10000],
                                                  slide: function (event, ui) {
                                                      outputSpan.html(ui.values[0] + ' $' + ' - ' + ui.values[1] + ' $');
                                                  },
                                                  stop: function (event, ui) {
                                                      $('#MinRent').val(ui.values[0]);
                                                      $('#MaxRent').val(ui.values[1]);
                                                  }
                                              });

                                              outputSpan.html(sliderDiv.slider('values', 0) + ' $' + ' - '
                                                  + sliderDiv.slider('values', 1) + ' $');
                                              $('#MinRent').val(sliderDiv.slider('values', 0));
                                              $('#MaxRent').val(sliderDiv.slider('values', 1));
                                          });
                                          </script>
                                    <!-- script end for range slider filter -->
                                    {{ filter.form.price.label_tag }} <span id="spanOutput"></span>
                                    <br><br>
                                    <div id="slider"></div>
                                    <div class="form-group">
                                        <input name="price__gt" step="any" id="MinRent" class="form-control" type="hidden">
                                    </div>
                                    <div class="form-group">
                                        <input name="price__lt" step="any" id="MaxRent" class="form-control" type="hidden">
                                    </div>
                                    <center><button class="tg-btn" type="submit">Submit</button></center>
                            </fieldset>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
<!--************************************
            Theme Modal Box Start
    *************************************-->
<div class="modal fade tg-categoryModal" tabindex="-1">
    <div class="modal-dialog tg-modaldialog" role="document">
        <div class="modal-content tg-modalcontent">
            <div class="tg-modalhead">
                <h2>Sub Categories</h2>
                <span class="tg-selecteditems">05 Items Selected</span>
            </div>
            <div class="tg-modalbody">
                <form class="tg-themeform tg-formrefinesearch">
                    <div class="tg-column">
                        <h3>Automotive</h3>
                        <div class="tg-checkboxgroup">
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-cabserviceone" name="automotive" value="Cab Service">
                                <label for="tg-cabserviceone">Cab Service</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-carcareservicingone" name="automotive" value="Car Care &amp; Servicing">
                                <label for="tg-carcareservicingone">Car Care &amp; Servicing</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-cardealerone" name="automotive" value="Car Dealer">
                                <label for="tg-cardealerone">Car Dealer</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-rentacarone" name="automotive" value="Rent A Car">
                                <label for="tg-rentacarone">Rent A Car</label>
                            </span>
                        </div>
                    </div>
                    <div class="tg-column">
                        <h3>Beauty &amp; Personal Care</h3>
                        <div class="tg-checkboxgroup">
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-beautyparlor" name="beautypersonalcare" value="Beauty Parlor">
                                <label for="tg-beautyparlor">Beauty Parlor</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-spacenter" name="beautypersonalcare" value="Spa Center">
                                <label for="tg-spacenter">Spa Center</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-massagecenter" name="beautypersonalcare" value="Massage Center">
                                <label for="tg-massagecenter">Massage Center</label>
                            </span>
                        </div>
                    </div>
                    <div class="tg-column">
                        <h3>Business</h3>
                        <div class="tg-checkboxgroup">
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-eventorganizer" name="business" value="Event Organizer">
                                <label for="tg-eventorganizer">Event Organizer</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-financeandlegal" name="business" value="Finance &amp; Legal">
                                <label for="tg-financeandlegal">Finance &amp; Legal</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-marketing" name="business" value="Marketing">
                                <label for="tg-marketing">Marketing</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-webdevelopment" name="business" value="IT/Web Development">
                                <label for="tg-webdevelopment">IT/Web Development</label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tg-modalfoot">
                <button class="tg-btn" type="submit">apply</button>
                <button class="tg-btn" type="submit">Reset</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {

    /* Functions */

    var loadForm = function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function() {
                $("#modal-event").modal("show");
            },
            success: function(data) {
                $("#modal-event .modal-content").html(data.html_form);
            }
        });
    };

    var saveForm = function() {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data) {
                if (data.form_is_valid) {
                    $(".w3ls-header-right #test ul").html(data.html_user);
                    $("#modal-event").modal("hide");
                } else {
                    $("#modal-event .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    };
    var orderForm = function() {
        var form = $(this);
        var abc = "suceessful"
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data) {
                if (data.form_is_valid) {
                    console.log('hello')
                    var y = $(".w3ls-header-right #test ul").html(data.html_user);
                    console.log(y);

                    $(".modal-body").html("<h2><center>Lab has been Booked successfully. THANKYOU!!!</center></h2>");
                    $(".modal-footer").html("<button type='button' class='btn tg-btn' data-dismiss='modal'>Close</button>");
                } else {
                    $("#modal-event .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    };

    $(".js-add-order").click(loadForm);
    $("#modal-event").on("submit", ".js-order-pleced", orderForm);
});
</script>
{% endblock %}