{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
    <!--************************************
            Inner Page Banner Start
    *************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Lab Details</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{% url 'home:index' %}">Home</a></li>
                        <li class="tg-active">Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Page Banner End
    *************************************-->
    <div class="tg-detailpage tg-jobdetail">
        <div class="tg-detailpagehead">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-detailpageheadcontent">
                            <div class="tg-companylogo"><img src="{% static 'images/logos/img-15.jpg' %}"
                                                             alt="image description"></div>
                            <div class="tg-companycontent">
                                <ul class="tg-tags">
                                    <li><a class="tg-tag" href="#">{{ labs.lab_type }}</a></li>
                                </ul>
                                <div class="tg-title">
                                    <h1>{{ labs.company_name }}</h1>
                                    <span class="tg-jobpostedby"><a href="javascript:void(0);">${{ labs.lab_price }} Per Day</a></span>
                                </div>
                            </div>
                            <a class="tg-btn" href="javascript:void(0);">book now</a>
                        </div>
                        <ul class="tg-jobmatadata">
                            <li>
                                <div class="tg-box tg-posteddate">
                                    <span class="tg-jobmataicon"><i class="lnr lnr-calendar-full"></i></span>
                                    <div class="tg-jobmatacontent">
                                        <strong>Posted Date</strong>
                                        <span>January 12th, 2011</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tg-box tg-applicantapplied">
                                    <span class="tg-jobmataicon"><i class="lnr lnr-book"></i></span>
                                    <div class="tg-jobmatacontent">
                                        <strong>Applicant Applied</strong>
                                        <span>3479  Applications Received</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tg-box tg-views">
                                    <span class="tg-jobmataicon"><i class="lnr lnr-eye"></i></span>
                                    <div class="tg-jobmatacontent">
                                        <strong>Views</strong>
                                        <span>Total Views: 22508</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tg-box tg-expiredate">
                                    <span class="tg-jobmataicon"><i class="lnr lnr-warning"></i></span>
                                    <div class="tg-jobmatacontent">
                                        <strong>Expire Date</strong>
                                        <span>July 27, 2017</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="tg-twocolumns" class="tg-twocolumns">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 pull-left">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-companyfeatures">
                                <div class="tg-companyfeaturebox tg-introduction">
                                    <div class="tg-companyfeaturetitle">
                                        <h3>Details</h3>
                                    </div>
                                    <div class="tg-description">
                                        {{ labs.details }}
                                    </div>
                                </div>
                                <div class="tg-companyfeaturebox tg-jobdetails">
                                    <div class="tg-companyfeaturetitle">
                                        <h3>More Information</h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <span>Address:</span>
                                            <span>{{ labs.company_address }}</span>
                                        </li>
                                        <li>
                                            <span>Contact Person:</span>
                                            <span>{{ labs.contact_person }}</span>
                                        </li>
                                        <li>
                                            <span>Contact Email:</span>
                                            <span>{{ labs.contact_email }}</span>
                                        </li>
                                        <li>
                                            <span>Contact Phone:</span>
                                            <span>{{ labs.contact_phone }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tg-companyfeaturebox tg-jobrequirments">
                                    <div class="tg-companyfeaturetitle">
                                        <h3>Guest and Lab use Requirements</h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Tempor incididunt ut labore et dolore magna aliqua enim ad minimat quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                                            aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu
                                            fugiat nulla pariatur cupidatat non proident.</p>
                                    </div>
                                    <ul class="tg-themeliststyle tg-themeliststyletick">
                                        <li>Minimum 200hr Yoga Certification</li>
                                        <li>1+ years experience teaching regular group classes</li>
                                        <li>Current CPR</li>
                                        <li>Agree to 6 month minimum commitment</li>
                                        <li>Ability to approach challenges in a creative, positive and team-centered
                                            manner
                                        </li>
                                        <li>Strong communication and interpersonal skills</li>
                                    </ul>
                                </div>
                                <div class="tg-companyfeaturebox tg-benefitsallowances">
                                    <div class="tg-companyfeaturetitle">
                                        <h3>Benefits / Equipment</h3>
                                    </div>
                                    <ul class="tg-themeliststyle tg-themeliststylecircletick">
                                        <li>Consectetur Adipisicing</li>
                                        <li>Eiusmod Tempor</li>
                                        <li>Incididunt Ut Labore</li>
                                        <li>Dolore Magna Aliqua</li>
                                        <li>Ad Minim Veniam</li>
                                        <li>Exercitation Ullamco</li>
                                        <li>Laboris Nisi Ut Aliquip</li>
                                        <li>Commodo Consequat</li>
                                        <li>Reprehenderit In Voluptate</li>
                                        <li>Velit Esse Cillum Dolore</li>
                                        <li>Fugiat Nulla Pariatur</li>
                                        <li>Excepteur Sint Occaecat</li>
                                        <li>Cupidatat Non Proident</li>
                                        <li>Officia Deserunt Mollit</li>
                                        <li>Perspiciatis Unde Omnis Iste</li>
                                        <li>Natus Error Sit</li>
                                        <li>Voluptatem Accusantium</li>
                                        <li>Laudantium</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 pull-right">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-widgetlocationandcontactinfo">
                                <div class="tg-mapbox">
                                    <div id="tg-joblocationmap" class="tg-locationmap"></div>
                                </div>
                                <div class="tg-contactinfobox">
                                    <ul class="tg-contactinfo">
                                        <li>
                                            <i class="lnr lnr-location"></i>
                                            <address>{{ labs.company_address }}</address>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-phone-handset"></i>
                                            <span>0800 - 1234 - 562 - 6</span>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-printer"></i>
                                            <span>+4 1234 567 - 9</span>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-envelope"></i>
                                            <span><a href="mailto:query@domain.com">query@domain.com</a></span>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-construction"></i>
                                            <span><a href="mailto:complaint@domain.com">complaint@domain.com</a></span>
                                        </li>
                                        <li>
                                            <i class="lnr lnr-screen"></i>
                                            <span><a href="www.domainurl.com"
                                                     target="_blank">www.domainurl.com</a></span>
                                        </li>
                                    </ul>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                    <a class="tg-btn tg-btn-lg" href="javascript:void(0);">get directions</a>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgetshare">
                                <div class="tg-widgettitle">
                                    <h3>Share this lab</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                        <li class="tg-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li class="tg-tumblr"><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                        <li class="tg-yahoo"><a href="#"><i class="fa fa-yahoo"></i></a></li>
                                        <li class="tg-yelp"><a href="#"><i class="fa fa-yelp"></i></a></li>
                                        <li class="tg-pinterestp"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="tg-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        <li class="tg-stumbleupon"><a href="#"><i class="fa fa-stumbleupon"></i></a>
                                        </li>
                                        <li class="tg-reddit"><a href="#"><i class="fa fa-reddit"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgetrelatedjobs">
                                <div class="tg-widgettitle">
                                    <h3>Related Jobs</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li>
                                            <div class="tg-serviceprovidercontent">
                                                <div class="tg-companylogo"><a href="#"><img
                                                        src="{% static 'images/logos/img-01.png' %}"
                                                        alt="image description"></a></div>
                                                <div class="tg-companycontent">
                                                    <a class="tg-tag tg-tagjobtype" href="#">fix</a>
                                                    <div class="tg-title">
                                                        <h3><a href="#">Carpenter Required</a></h3>
                                                    </div>
                                                    <span class="tg-jobpostedby">By: <a href="javascript:void(0);">Blue Bird Organization</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-serviceprovidercontent">
                                                <div class="tg-companylogo"><a href="#"><img
                                                        src="{% static 'images/logos/img-02.png' %}"
                                                        alt="image description"></a></div>
                                                <div class="tg-companycontent">
                                                    <a class="tg-tag tg-tagjobtype" href="#">Internship</a>
                                                    <div class="tg-title">
                                                        <h3><a href="#">Electrician For Fixing Required</a></h3>
                                                    </div>
                                                    <span class="tg-jobpostedby">By: <a href="javascript:void(0);">On Fleek Spa &amp; Beauty Saloon</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-serviceprovidercontent">
                                                <div class="tg-companylogo"><a href="#"><img
                                                        src="{% static 'images/logos/img-03.png' %}"
                                                        alt="image description"></a></div>
                                                <div class="tg-companycontent">
                                                    <a class="tg-tag tg-tagjobtype" href="#">Temporary</a>
                                                    <div class="tg-title">
                                                        <h3><a href="#">Car Fixing Mechanic Required</a></h3>
                                                    </div>
                                                    <span class="tg-jobpostedby">By: <a href="javascript:void(0);">Eldridge Hemenway</a></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}