/* line 3, ../sass/star-ratings.scss */
.review {
  display: inline-block;
  margin: 2rem;
  padding: 1.1rem;
  max-width: $box-max-width;
  border-radius: $radius-value;
  border: 1px solid $grey;
  background-color: $light-grey;
  box-shadow: 0px 0px 15px rgba($black, 0.25);
  font-family: $system-fonts;

  #{&} &__title {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  #{&} &__score {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
  
    .score {
      //margin-right: 1rem;
      font-size: 2rem;
    }
  
    .score-stars {
      margin-left: 0.8rem;
    }
  }
  #{&} &__text {
    line-height: 1;
  }
}
.star-ratings-rating-user{
  color: black;
}
.star-ratings-rating-average{
  display: none;
}
.star-ratings-rating-count{
  display: none;
}
.star-ratings {
  display: inline-block;
  position: relative;
}
/* line 7, ../sass/star-ratings.scss */
.star-ratings ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  list-style: none outside none;
  overflow: hidden;
}
/* line 14, ../sass/star-ratings.scss */
.star-ratings ul li {
  display: inline-block;
}

/* line 20, ../sass/star-ratings.scss */
.star-ratings-rating-full, .star-ratings-rating-empty {
  display: block;
  background: url("/static/star-ratings/images/stars.png") no-repeat;
  border: 0;
}

/* line 26, ../sass/star-ratings.scss */
.star-ratings-rating-foreground {
  width: 90%;
  top: 0;
  position: absolute;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 34, ../sass/star-ratings.scss */
.star-ratings-rating-stars-container {
  display: inline-block;
  position: relative;
}