{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<!--************************************
        Inner Page Banner Start
*************************************-->
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>About Us</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="tg-active">about us</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
    <!--************************************
            Services Facilities Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>How We're Serving You</h2>
                        </div>
                        <div class="tg-description">
                            <p>Our purpose is to extend and diversify the product development,
                                testing and manufacturing abilities of companies world wide, large and small by creating an
                                online marketplace that connects businesses to share resources, like labs and equipment, and help extend
                                manufacturing capabilities. This will help businesses create and  test new products faster and cheaper than ever before.</p>
                        </div>
                    </div>
                </div>
                <div class="tg-servicesfacilities">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-hasslefreelife"><i
                                    class="lnr lnr-magic-wand"></i></span>
                            <div class="tg-title">
                                <h3>Hassle Free Booking</h3>
                            </div>
                            <div class="tg-description">
                                <p>User friendly booking system, with easy forms with clear requirements.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-allprofessionals"><i
                                    class="lnr lnr-heart"></i></span>
                            <div class="tg-title">
                                <h3>All Professionals</h3>
                            </div>
                            <div class="tg-description">
                                <p>Using another companies labs has never been easier.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-fiskfreeservices"><i
                                    class="lnr lnr-thumbs-up"></i></span>
                            <div class="tg-title">
                                <h3>Low Risk Labs</h3>
                            </div>
                            <div class="tg-description">
                                <p>We provide the security necessary to use and provide labs risk free.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-securepayments"><i
                                    class="lnr lnr-license"></i></span>
                            <div class="tg-title">
                                <h3>Secure Payments</h3>
                            </div>
                            <div class="tg-description">
                                <p>We make sure that your information is never at risk.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-savingyourtime"><i class="lnr lnr-clock"></i></span>
                            <div class="tg-title">
                                <h3>Saving Your Time</h3>
                            </div>
                            <div class="tg-description">
                                <p>We do our best to help you find the facilities you need, quickly!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-savingyourcost"><i class="lnr lnr-tag"></i></span>
                            <div class="tg-title">
                                <h3>Reducing Your Cost</h3>
                            </div>
                            <div class="tg-description">
                                <p>With so much to choose from, our promise is to bring down the cost. Less need to use expensive services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-premiumexperience"><i
                                    class="lnr lnr-star"></i></span>
                            <div class="tg-title">
                                <h3>Premium Experience</h3>
                            </div>
                            <div class="tg-description">
                                <p>With so much available and the ease of use, you'll wonder why you've used any other method.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-servicetime"><i class="lnr lnr-cart"></i></span>
                            <div class="tg-title">
                                <h3>24/7 Support</h3>
                            </div>
                            <div class="tg-description">
                                <p>We are available 24/7 to provide assistance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Services Facilities End
    *************************************-->
    <!--************************************
            Company Video Start
    *************************************-->
    <section class="tg-haslayout tg-bglight">
        <div class="tg-main-section tg-companyvideo">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
                        <div class="tg-textshortcode">
                            <div class="tg-bordertitle">
                                <h2>Company Video</h2>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat aute irure dolor in reprehenderit in voluptate sunt
                                    in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium dolor emque
                                    laudantium totam rem aperiam.</p>
                            </div>
                            <a class="tg-btn" href="javascript:void(0);">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tg-videoshortcode">
                <figure>
                    <img src="{% static 'images/placeholder/img-01.jpg' %}" alt="image description">
                    <a class="tg-btnplay" href="https://youtu.be/iC9CpnSj-MU" data-rel="prettyPhoto[video]"><i
                            class="fa fa-play"></i></a>
                </figure>
            </div>
        </div>
    </section>
    <!--************************************
            Company Video End
    *************************************-->
   <!--************************************
            Secure & Reliable Start
    *************************************-->
    <section class="tg-main-section tg-haslayout tg-bglight">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <figure class="tg-noticeboard"><img src="{% static 'images/noticeboard.png' %}" alt="image description"></figure>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="tg-secureandreliable">
                        <div class="tg-textshortcode">
                            <h2>Getting Started</h2>
                            <h3>It’s Secure, It's Reliable</h3>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et dolore magna
                                    aliqua enim adia minim veniam quis nostrud exercitation ullamco laboris atuiuip
                                    extea commo consequat aute irure dolor reprehenderit.</p>
                            </div>
                        </div>
                        <a class="tg-btn" href="#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Secure & Reliable End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
{% endblock %}