<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-library.js' %}"></script>
</head>

<body class="tg-login">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!--************************************
    Preloader Start
*************************************
<div class="preloader-outer">
<div class="pin"></div>
<div class="pulse"></div>
</div>
<!--************************************
    Preloader End
*************************************-->
<!--************************************
    Wrapper Start
*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
        Header Start
*************************************-->
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="tg-topbar tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ul class="tg-addressinfo">
                            <li>
                                <i class="lnr lnr-envelope"></i>
                                <a href="mailto:info@domain.com">info@labslot.com</a>
                            </li>
                            <!--
                        <li>
                            <i class="lnr lnr-phone-handset"></i>
                            <span>+4 1234 567890</span>
                        -->
                            </li>
                        </ul>
                        <div class="tg-themedropdown tg-languagesdropdown">
                            <a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em><img src="{% static 'images/flags/img-01.jpg' %}" alt="image description"></em>
                                <span>eng</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="tg-dropdownmenu" aria-labelledby="tg-languages">
                                <li>
                                    <a href="#">
                                        <em><img src="{% static 'images/flags/img-02.jpg' %}"
                                                 alt="image description"></em>
                                        <span>chi</span>
                                    </a>
                                </li>
                                <li class="tg-active">
                                    <a href="#">
                                        <em><img src="{% static 'images/flags/img-03.jpg' %}"
                                                 alt="image description"></em>
                                        <span>eng</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <em><img src="{% static 'images/flags/img-04.jpg' %}"
                                                 alt="image description"></em>
                                        <span>rus</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tg-adminbox">
                            <div class="tg-loginregister">
                                {% if user.is_authenticated %}
                                {% else %}
                                <a class="tg-btnlogin" href="{% url 'authentication:login' %}">Login</a>
                                <a class="tg-btnregister" href="{% url 'authentication:signup' %}">Register</a>
                                {% endif %}
                            </div>
                            <!-- On User Login -->
                            {% if user.is_authenticated %}
                            <div class="tg-useradminbox">
                                <div class="tg-themedropdown tg-userdropdown">
                                    <a href="javascript:void(0);" id="tg-usermenu" class="tg-btndropdown"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <em><img src="{{user.profile.get_picture}}" alt="image description"
                                                 height="35px" width="35px"></em>
                                        <span>Hi! {{request.user.username}}</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <div class="tg-dropdownmenu tg-usermenu" aria-labelledby="tg-usermenu">
                                        <nav id="tg-dashboardnav" class="tg-dashboardnav">
                                            <ul>
                                                <li>
                                                    <a href="{% url 'userprofile:profilesettings' %}">
                                                        <i class="lnr lnr-cog"></i>
                                                        <span>Profile</span>
                                                    </a>
                                                </li>
                                                <!--
                                                <li>
                                                    <a href="dashboardmanageservice.html">
                                                        <i class="lnr lnr-briefcase"></i>
                                                        <span>Manage Services</span>
                                                    </a>
                                                </li>
                                                -->
                                                <li>
                                                    <a href="{% url 'booking:booking_lab_list' %}">
                                                        <i class="lnr lnr-calendar-full"></i>
                                                        <span>Booking Requests</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'booking:my_booking_lab_list' %}">
                                                        <i class="lnr lnr-calendar-full"></i>
                                                        <span>My Bookings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="dashboardfavoritlisting.html">
                                                        <i class="lnr lnr-heart"></i>
                                                        <span>Favourite Listings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'labs:own_lab_list' %}">
                                                        <i class="lnr lnr-heart"></i>
                                                        <span>My Labs</span>
                                                    </a>
                                                </li>
                                                <!--
                                                <li>
                                                    <a href="dashboardinvoices.html">
                                                        <i class="lnr lnr-list"></i>
                                                        <span>Invoices</span>
                                                        <em class="tg-invoices">23</em>
                                                    </a>
                                                </li>
                                                -->
                                                <!--
                                                <li class="tg-updatepackage">
                                                    <a href="dashboardupgradepackage.html">
                                                        <i class="lnr lnr-layers"></i>
                                                        <span>Manage Subscription</span>
                                                        <em class="lnr lnr-flag tg-taginfo"></em>
                                                    </a>
                                                </li>
                                                -->
                                                <!--
                                                <li>
                                                    <a href="dashboardsecuritysetting.html">
                                                        <i class="lnr lnr-construction"></i>
                                                        <span>Security Settings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="dashboardprivacysetting.html">
                                                        <i class="lnr lnr-lock"></i>
                                                        <span>Privacy Settings</span>
                                                    </a>
                                                </li>
                                                -->
                                                <li>
                                                    <a class="tg-btnlogin" href="{% url 'authentication:logout' %}"><i
                                                            class="lnr lnr-exit"></i>
                                                        <span>Logout</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!-- On User Login -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-navigationarea">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-xs-3" style="margin: -20px">
                            <strong class="tg-logo"><a href="{% url 'home:index' %}"><img
                                    src="{% static 'images/logos/logo3.png' %}" alt="image description"></a></strong>
                        </div>

                        <div class="tg-rightarea">
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#tg-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                                    <ul>
                                        <li>
                                            <a class="current-menu-item" href="{% url 'home:index' %}">Home</a>
                                        </li>
                                        <li><a href="{% url 'home:about' %}">About Us</a></li>
                                        <li>
                                            <a href="{% url 'labs:labfilter' %}">Lab Spaces</a>
                                        </li>
                                        <!-- for later use
                                    <li>
                                        <a href="#">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Equipment for Hire</a>
                                    </li>
                                    <li>
                                        <a href="#">Careers</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    -->
                                    </ul>
                                </div>
                            </nav>
                            <a class="tg-btn tg-btnpostanewjob" href="{% url 'labs:lab_add' %}">Create a listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--************************************
        Header End
*************************************-->
    <!--************************************
        Inner Page Banner Start
*************************************
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>Home</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="tg-active">about us</li>
                </ol>
            </div>
        </div>
    </div>
</div>
************************************
        Inner Page Banner End
*************************************-->
    <!--************************************
        Main Start
*************************************-->
    <main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
        <!--************************************
            Body
    *************************************-->
        {% block index %}
        {% endblock %}
        <!--************************************
            Body
    *************************************-->
    </main>
    <!--************************************
        Main End
*************************************-->
    <!--************************************
        Footer Start
*************************************-->
    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="tg-features">
                        <li>
                            <div class="tg-feature">
                                    <span class="tg-featureicon">
                                        <i class="lnr lnr-diamond"></i>
                                    </span>
                                <div class="tg-featurecontent">
                                    <h3>Best Labs Award</h3>
                                    <span>Earn the best labs award each year</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tg-feature">
                                    <span class="tg-featureicon">
                                        <i class="lnr lnr-users"></i>
                                    </span>
                                <div class="tg-featurecontent">
                                    <h3>Verified Accounts</h3>
                                    <span>All active accounts are verified</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tg-feature">
                                    <span class="tg-featureicon">
                                        <i class="lnr lnr-diamond"></i>
                                    </span>
                                <div class="tg-featurecontent">
                                    <h3>User Friendly Focused</h3>
                                    <span>Given attention to rich user experience</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tg-fourcolumns">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="tg-footercolumn">
                            <strong class="tg-logo"><a href="{% url 'home:index' %}"><img
                                    src="{% static 'images/logos/logo3.png' %}" alt="image description"></a></strong>
                            <div class="tg-description">
                                <p>Labslot started from humble beginnings, read our origin story for <a
                                        href="{% url 'home:about' %}">more...</a></p>
                            </div>
                            <ul class="tg-contactinfo">
                                <li>
                                    <i class="lnr lnr-location"></i>
                                    <address>Auckland City, Auckland 1010, New Zealand</address>
                                </li>
                                <!--
                                <li>
                                    <i class="lnr lnr-phone-handset"></i>
                                    <span>0800 - 1234 - 562 - 6</span>
                                </li>
                                -->
                                <li>
                                    <i class="lnr lnr-envelope"></i>
                                    <span><a href="query@labslot.com">query@labslot.com</a></span>
                                </li>
                                <li>
                                    <i class="lnr lnr-construction"></i>
                                    <span><a href="complaint@labslot.com">complaint@labslot.com</a></span>
                                </li>
                            </ul>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="tg-footercolumn tg-widget tg-widgettwitter">
                            <div class="tg-widgettitle">
                                <h3>Latest Tweets</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul>
                                    <li>
                                        <div class="tg-description">
                                            <p>Sed ut perspiciatis unde omnis isteat natus error
                                                sit voluptatem</p>
                                        </div>
                                        <a href="http://www.domainurl.com ">http://www.domainurl.com</a>
                                        <time datetime="2016-08-08">2 hours ago</time>
                                    </li>
                                    <li>
                                        <div class="tg-description">
                                            <p>Sed ut perspiciatis unde omnis isteat natus error
                                                sit voluptatem</p>
                                        </div>
                                        <a href="http://www.domainurl.com ">http://www.domainurl.com</a>
                                        <time datetime="2016-08-08">3 hours ago</time>
                                    </li>
                                    <li><a href="javascript:void(0);">view all</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="tg-footercolumn tg-widget tg-widgetusefullinks">
                            <div class="tg-widgettitle">
                                <h3>Useful Links</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul>
                                    <li><a href="#">Perspiciatis ate</a></li>
                                    <li><a href="#">Aomnis isteat</a></li>
                                    <li><a href="#">Canatus error</a></li>
                                    <li><a href="#">Voluptatem clu</a></li>
                                    <li><a href="#">Commodo</a></li>
                                    <li><a href="#">Consequat</a></li>
                                    <li><a href="#">Duis aute</a></li>
                                    <li><a href="#">Aincididunt</a></li>
                                    <li><a href="#">Alter veritatis</a></li>
                                    <li><a href="#">Tempora Incid</a></li>
                                    <li><a href="#">Dolore Magnam</a></li>
                                    <li><a href="#">Aliquam Quaerat</a></li>
                                    <li><a href="#">Quisquam</a></li>
                                    <li><a href="#">Voluptatem</a></li>
                                    <li><a href="#">Aliquip</a></li>
                                    <li><a href="#">Adipisicing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="tg-footercolumn tg-widget tg-widgetfreeinspection">
                            <div class="tg-widgettitle">
                                <h3>Offer Free Inspection</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul>
                                    <li>
                                        <figure><a href="#"><img src="{% static 'images/logos/img-01.png' %}"
                                                                 alt="image description"></a></figure>
                                        <div class="tg-contentbox">
                                            <h4><a href="#">Manchester Cleaning Service</a></h4>
                                            <ul class="tg-matadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li>
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                    <em>99% (1009 votes)</em>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="#"><img src="{% static 'images/logos/img-02.png' %}"
                                                                 alt="image description"></a></figure>
                                        <div class="tg-contentbox">
                                            <h4><a href="#">Manchester Cleaning Service</a></h4>
                                            <ul class="tg-matadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li>
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                    <em>99% (1009 votes)</em>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="#"><img src="{% static 'images/logos/img-03.png' %}"
                                                                 alt="image description"></a></figure>
                                        <div class="tg-contentbox">
                                            <h4><a href="#">Manchester Cleaning Service</a></h4>
                                            <ul class="tg-matadata">
                                                <li><span class="tg-stars"><span></span></span></li>
                                                <li>
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                    <em>99% (1009 votes)</em>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="javascript:void(0);">view all</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-footerbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span>Copyright &copy; 2017 All Rights Reserved - Service Providers</span>
                        <nav class="tg-footernav">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Term and Conditions</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--************************************
        Footer End
*************************************-->
</div>
<!--************************************
    Wrapper End
*************************************-->
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mapclustering/data.json' %}"></script>
<!--<script src="{https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>-->
<script src="{% static 'js/mapclustering/markerclusterer.min.js' %}"></script>
<!--<script src="{% static 'js/mapclustering/infobox.js' %}"></script>-->
<script src="{% static 'js/mapclustering/map.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/scrollbar.min.js' %}"></script>
<script src="{% static 'js/prettyPhoto.js' %}"></script>
<script src="{% static 'js/readmore.js' %}"></script>
<!--<script src="{% static 'js/gmap3.js' %}"></script>-->
<script src="{% static 'js/main.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/jquery.Jcrop.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/picture.js' %}" type="text/javascript"></script>
</body>

</html>