{% extends 'home/base.html' %}
{% load staticfiles %}
{% block title %}Add New Lab{% endblock %}
{% block labs_active %}active{% endblock %}
{% block index %}

    {% include "labs/labs_list.html" %}

    <!--************************************
            Advantagies Start
    *************************************-->
    <section class="tg-main-section tg-haslayout tg-bglight">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="tg-sectiontitle">
                        <h2>The Easiest Way To Hire Lab Facilities</h2>
                    </div>
                </div>
                <div class="tg-advantagies">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-advantage tg-advantageplan">
                                    <span class="tg-advantageicon">
                                        <i class="tg-badge">1</i>
                                        <em><img src="{% static 'images/advantagies/img-02.png' %}"
                                                 alt="image description"></em>
                                    </span>
                            <div class="tg-title">
                                <h3><a href="#">Plan Your Task</a></h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-advantage tg-advantagechoosebest">
                                    <span class="tg-advantageicon">
                                        <i class="tg-badge">2</i>
                                        <em><img src="{% static 'images/advantagies/img-02.png' %}"
                                                 alt="image description"></em>
                                    </span>
                            <div class="tg-title">
                                <h3><a href="#">Choose The Best Lab</a></h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-advantage tg-advantagestressfree">
                                    <span class="tg-advantageicon">
                                        <i class="tg-badge">3</i>
                                        <em><img src="{% static 'images/advantagies/img-03.png' %}"
                                                 alt="image description"></em>
                                    </span>
                            <div class="tg-title">
                                <h3><a href="#">Live Stress Free</a></h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-advantage tg-advantageexperience">
                                    <span class="tg-advantageicon">
                                        <i class="tg-badge">4</i>
                                        <em><img src="{% static 'images/advantagies/img-04.png' %}"
                                                 alt="image description"></em>
                                    </span>
                            <div class="tg-title">
                                <h3><a href="#">Share Your Experience</a></h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Advantages End
    *************************************-->
    <!--************************************
            Testimonials Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <figure class="tg-clientlargedp">
                        <img src="{% static 'images/testimonials/img-01.jpg' %}" alt="image description">
                        <span class="tg-quotes"><i class="fa fa-quote-right"></i></span>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="tg-testimonials">
                        <div id="tg-testimonialcontentslider" class="owl-carousel tg-testimonialcontentslider">
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie Leveille</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie Leveille</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie Leveille</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-testimonial">
                                    <h2>Sandie Leveille</h2>
                                    <h3>A Truly Amazing Experience</h3>
                                    <blockquote><q>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et
                                        dolore magna aliqua eantnim adia minim veniam quis nostrud exercitation ullamco
                                        laboris.</q></blockquote>
                                </div>
                            </div>
                        </div>
                        <div id="tg-testimonialnavigationslider" class="owl-carousel tg-testimonialnavigationslider">
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-01.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-02.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-03.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-04.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-05.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-06.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                            <div class="item">
                                <figure><img src="{% static 'images/testimonials/img-07.jpg' %}"
                                             alt="image description"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Testimonials End
    *************************************-->

{% endblock %}