{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
<!--************************************
            Inner Page Banner Start
    *************************************-->
<div class="modal fade login" id="modal-event">
    <div class="modal-dialog login animated">
        <div class="modal-content">
        </div>
    </div>
</div>

<!--************************************
            Inner Page Banner End
    *************************************-->
<!--************************************
            Main Start
    *************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-sectiontitle">
                <h2>Lab Spaces</h2>
            </div>
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 pull-right">
                    <div class="row">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-listing tg-listview">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="tg-totallistingfound">256 Results Found</span>
                                    <div class="tg-sortfilters">
                                        <div class="tg-sortfilter tg-sortby">
                                            <span>Sort By:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>Name</option>
                                                    <option>Type</option>
                                                    <option>date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-arrange">
                                            <span>Arrange:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>des</option>
                                                    <option>Asc</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-show">
                                            <span>Show:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>12</option>
                                                    <option>24</option>
                                                    <option>all</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Lab Providers -->
                                <div class="tg-serviceproviders">
                                    {% if labs %}
                                    {% for lab in labs %}
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="tg-serviceprovider tg-automotive">
                                            {% if lab.image %}
                                            <figure class="tg-featuredimg">
                                                <img src="{{ lab.image.url }}" alt="image description">
                                                <figcaption>
                                                    <a class="tg-themetag tg-categorytag" href="javascript:void(0);">{{ lab.type }}</a>
                                                    <a class="tg-heart" href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                                    <ul class="tg-tags">
                                                        <!--<li><a class="tg-tag tg-featuredtag" href="#">featured</a></li>-->
                                                        <li><a class="tg-tag tg-verifiedtag" href="#">verified</a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            {% endif %}
                                            <div class="tg-companycontent">
                                                <div class="tg-title">
                                                    <h4>
                                                        <a href="{% url 'labs:lab_detail' lab.id %}">{{ lab.name }}</a>
                                                    </h4>
                                                    <p>{{ lab.city }}, {{lab.country}}<br>${{ lab.price }} {{ lab.time_period }}</p>
                                                </div>
                                                <ul class="tg-matadata">
                                                    <li><span class="tg-stars"><span></span></span></li>
                                                    <li>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                        <em>99% (1009 votes)</em>
                                                    </li>
                                                </ul>
                                                <!-- Company Contact Info
                                                            <ul class="tg-companycontactinfo">
                                                                <li>
                                                                    <i class="lnr lnr-phone-handset"></i>
                                                                    <span data-toggle="tooltip" data-placement="top"
                                                                          title="Click to view Number"
                                                                          data-last="34 - 562 - 6">{{ labs.contact_phone }}</span>
                                                                </li>
                                                                <li>
                                                                    <i class="lnr lnr-envelope"></i>
                                                                    <span data-toggle="tooltip" data-placement="top"
                                                                          title="Click to view Email"
                                                                          data-last="domain.com"><a
                                                                            href="mailto:query@domain.com">{{ labs.contact_email }}</span>
                                                                </li>
                                                            </ul>
                                                            Company Contact Info -->
                                                {% if user.is_authenticated %}
                                                {% if lab.company.owner != request.user %}
                                                <button><a class="js-add-order tg-btn" data-url="{% url 'booking:book' lab.pk %}">book now</a></button>
                                                {% endif %}
                                                {% else %}
                                                <button><a class="tg-btn" href="{% url 'authentication:login'%}">book now</a></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <h2>Sorry, there are no labs to show yet.</h2>
                                    {% endif %}
                                </div>
                                <!-- Lab Providers End -->
                                <center>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <nav class="pagination">
                                        {% if is_paginated %}
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                            <li> <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %}
                                            {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                            <li class="active"><span style="background-color:#5dc560;border-color:#5dc560;">{{ i }} <span class="sr-only" >(current)</span></span></li>
                                            {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}" >&raquo;</a></li>
                                            {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                        {% endif %}
                                    </nav>
                                </div>
                            </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-left">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <form class="tg-themeform tg-formrefinesearch">
                            <fieldset>
                                <h4>Sub Categories</h4>
                                <div class="tg-checkboxgroup">
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-cabservice" name="subcategories" value="Any" checked>
                                        <label for="tg-cabservice">Mechanical Labs</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-carcareservicing" name="subcategories" value="Car Care &amp; Servicing">
                                        <label for="tg-carcareservicing">Electrical Labs</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-cardealer" name="subcategories" value="Car Dealer">
                                        <label for="tg-cardealer">Chemical Labs</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="subcategories" value="Rent A Car">
                                        <label for="tg-rebtacar">All Labs</label>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h4>Filter By Location</h4>
                                <div class="tg-checkboxgroup">
                                    <div class="form-group">
                                        <span class="tg-select">
                                            <select>
                                                <option>Select Country</option>
                                                <option>Pakistan</option>
                                                <option>United States</option>
                                                <option>United Kingdom</option>
                                                <option>United Arab Emirates</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <span class="tg-select">
                                            <select>
                                                <option>Select States</option>
                                                <option>Texas</option>
                                                <option>Virginia</option>
                                                <option>New York</option>
                                                <option>Washington</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="form-group tg-inpuicon">
                                        <input type="text" name="zipcode" class="form-control" placeholder="Zip Codes">
                                    </div>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-abbeywood" name="filterbylocation" value="abbeywood">
                                        <label for="tg-abbeywood">Abbey Wood</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-addington" name="filterbylocation" value="Addington">
                                        <label for="tg-addington">Addington</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-addiscombe" name="filterbylocation" value="Addiscombe">
                                        <label for="tg-addiscombe">Addiscombe</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-aldboroughhatch" name="filterbylocation" value="Aldborough Hatch">
                                        <label for="tg-aldboroughhatch">Aldborough Hatch</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-aperfield" name="filterbylocation" value="Aperfield">
                                        <label for="tg-aperfield">Aperfield</label>
                                    </span>
                                    <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categoryModal">View All</a>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h4>Filter By Language</h4>
                                <div class="tg-checkboxgroup">
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="alllanguages" name="languages" value="all languages" checked>
                                        <label for="alllanguages"> All Languages</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="chinese" name="languages" value="Chinese">
                                        <label for="chinese">Chinese</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="english" name="languages" value="English">
                                        <label for="english">English</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="french" name="languages" value="French">
                                        <label for="french">French</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="german" name="languages" value="German">
                                        <label for="german">German</label>
                                    </span>
                                    <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categoryModal">View All</a>
                                    <!-- <span class="tg-checkbox">
                                            <input type="checkbox" id="czech" name="languages" value="Czech">
                                            <label for="czech">Czech</label>
                                        </span>
                                        <span class="tg-checkbox">
                                            <input type="checkbox" id="arabic" name="languages" value="Arabic">
                                            <label for="arabic">Arabic</label>
                                        </span>
                                        <span class="tg-checkbox">
                                            <input type="checkbox" id="spanish" name="languages" value="Spanish">
                                            <label for="spanish">Spanish</label>
                                        </span>
                                        <span class="tg-checkbox">
                                            <input type="checkbox" id="russian" name="languages" value="Russian">
                                            <label for="russian">Russian</label>
                                        </span> -->
                                </div>
                            </fieldset>
                            <fieldset>
                                <h4>Filter By Rating</h4>
                                <div class="tg-checkboxgroup tg-ratingcheckbox">
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="nostar" name="ratingfilter" value="nostar">
                                        <label for="nostar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="onestar" name="ratingfilter" value="onestar">
                                        <label for="onestar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="twostar" name="ratingfilter" value="twostar">
                                        <label for="twostar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="threestar" name="ratingfilter" value="threestar">
                                        <label for="threestar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="fourstar" name="ratingfilter" value="fourstar">
                                        <label for="fourstar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="fivestar" name="ratingfilter" value="fivestar">
                                        <label for="fivestar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h4>Misc</h4>
                                <div class="tg-checkboxgroup">
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="offerfreeinspection" name="misc" value="Offer Free Inspection">
                                        <label for="offerfreeinspection">Offer Free Inspection</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="onlineappointment" name="misc" value="Online Appointment">
                                        <label for="onlineappointment">Online Appointment</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="withprofilephoto" name="misc" value="With Profile Photo">
                                        <label for="withprofilephoto">With Profile Photo</label>
                                    </span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <button class="tg-btn" type="submit">apply</button>
                                <button class="tg-btn" type="reset">reset</button>
                            </fieldset>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
<!--************************************
            Theme Modal Box Start
    *************************************-->
<div class="modal fade tg-categoryModal" tabindex="-1">
    <div class="modal-dialog tg-modaldialog" role="document">
        <div class="modal-content tg-modalcontent">
            <div class="tg-modalhead">
                <h2>Sub Categories</h2>
                <span class="tg-selecteditems">05 Items Selected</span>
            </div>
            <div class="tg-modalbody">
                <form class="tg-themeform tg-formrefinesearch">
                    <div class="tg-column">
                        <h3>Automotive</h3>
                        <div class="tg-checkboxgroup">
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-cabserviceone" name="automotive" value="Cab Service">
                                <label for="tg-cabserviceone">Cab Service</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-carcareservicingone" name="automotive" value="Car Care &amp; Servicing">
                                <label for="tg-carcareservicingone">Car Care &amp; Servicing</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-cardealerone" name="automotive" value="Car Dealer">
                                <label for="tg-cardealerone">Car Dealer</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-rentacarone" name="automotive" value="Rent A Car">
                                <label for="tg-rentacarone">Rent A Car</label>
                            </span>
                        </div>
                    </div>
                    <div class="tg-column">
                        <h3>Beauty &amp; Personal Care</h3>
                        <div class="tg-checkboxgroup">
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-beautyparlor" name="beautypersonalcare" value="Beauty Parlor">
                                <label for="tg-beautyparlor">Beauty Parlor</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-spacenter" name="beautypersonalcare" value="Spa Center">
                                <label for="tg-spacenter">Spa Center</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-massagecenter" name="beautypersonalcare" value="Massage Center">
                                <label for="tg-massagecenter">Massage Center</label>
                            </span>
                        </div>
                    </div>
                    <div class="tg-column">
                        <h3>Business</h3>
                        <div class="tg-checkboxgroup">
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-eventorganizer" name="business" value="Event Organizer">
                                <label for="tg-eventorganizer">Event Organizer</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-financeandlegal" name="business" value="Finance &amp; Legal">
                                <label for="tg-financeandlegal">Finance &amp; Legal</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-marketing" name="business" value="Marketing">
                                <label for="tg-marketing">Marketing</label>
                            </span>
                            <span class="tg-checkbox">
                                <input type="checkbox" id="tg-webdevelopment" name="business" value="IT/Web Development">
                                <label for="tg-webdevelopment">IT/Web Development</label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tg-modalfoot">
                <button class="tg-btn" type="submit">apply</button>
                <button class="tg-btn" type="submit">Reset</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {

    /* Functions */

    var loadForm = function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function() {
                $("#modal-event").modal("show");
            },
            success: function(data) {
                $("#modal-event .modal-content").html(data.html_form);
            }
        });
    };

    var saveForm = function() {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data) {
                if (data.form_is_valid) {
                    $(".w3ls-header-right #test ul").html(data.html_user);
                    $("#modal-event").modal("hide");
                } else {
                    $("#modal-event .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    };
    var orderForm = function() {
        var form = $(this);
        var abc = "suceessful"
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data) {
                if (data.form_is_valid) {
                    console.log('hello')
                    var y = $(".w3ls-header-right #test ul").html(data.html_user);
                    console.log(y);

                    $(".modal-body").html("<h2><center>Lab has been Booked successfully. THANKYOU!!!</center></h2>");
                    $(".modal-footer").html("<button type='button' class='btn tg-btn' data-dismiss='modal'>Close</button>");
                } else {
                    $("#modal-event .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    };

    $(".js-add-order").click(loadForm);
    $("#modal-event").on("submit", ".js-order-pleced", orderForm);
});
</script>
{% endblock %}