{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
{% if booking_labs %}
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container" >
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 ">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-dashboard tg-dashboardappointmentsetting">
                            <form class="tg-themeform">
                                <fieldset>
                                    <div class="tg-dashboardbox tg-dashboardappointments">
                                        <div class="tg-dashboardtitle">
                                            <h2>Your Booking Requests</h2>
                                        </div>
                                        <div id="tg-datepicker" class="tg-datepicker"></div>
                                        <div class="tg-sortfilters">
                                            <div class="tg-sortfilter tg-sortby">
                                                <span>Sort By:</span>
                                                <div class="tg-select">
                                                    <select>
                                                        <option>days</option>
                                                        <option>Type</option>
                                                        <option>date</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tg-sortfilter tg-arrange">
                                                <span>Arrange:</span>
                                                <div class="tg-select">
                                                    <select>
                                                        <option>des</option>
                                                        <option>Asc</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tg-sortfilter tg-show">
                                                <span>Show:</span>
                                                <div class="tg-select">
                                                    <select>
                                                        <option>All</option>
                                                        <option>24</option>
                                                        <option>all</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% if booking_labs %}
                                        {% for lab in booking_labs %}
                                        <div class="tg-dashboardappointmentbox">
                                            <div class="tg-dashboardappointment">
                                                <div class="tg-servicetitle">
                                                    <figure>
                                                        <img src="{{lab.lab.image.url}}" alt="image description">
                                                    </figure>
                                                    <div class="tg-clientcontent">
                                                        <h2>{{lab.applicant_first_name}} {{lab.applicant_last_name}}</h2>
                                                        <span>Contact: {{lab.applicants_phone}}</span>
                                                    </div>
                                                </div>
                                                <div class="tg-serviceandservicetype">
                                                    <h3>Lab</h3>
                                                    <span>{{lab.lab.name}}</span>
                                                    <span>Type:{{lab.lab.lab_type}}</span>
                                                </div>
                                                <div class="tg-serviceandservicetype">
                                                    <h3>Booking Details</h3>
                                                    <span>From:&nbsp;{{lab.CheckInDate}} {{lab.CheckInTime}}</span>
                                                    <span>To:&nbsp;{{lab.CheckOutDate}} {{lab.CheckOutTime}}</span>
                                                </div>
                                                <div class="tg-serviceandservicetype">
                                                    <h3>Booking Status</h3>
                                                    {% if lab.status == 'Accepted' %}
                                                    <p class="bg-success">{{lab.status}}</p>
                                                    {% elif lab.status == 'Requested' %}
                                                    <p class="bg-warning">{{lab.status}}</p>
                                                    {% elif lab.status == 'Denied' %}
                                                    <p class="bg-danger">{{lab.status}}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="tg-serviceandservicetype">
                                                    <div class="modal fade" id="exampleModalLong{{lab.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">Booking Request For {{lab.lab.name}}</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h3>{{lab.message}}</h3>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="background: #5dc560;border-color:#5dc560;">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong{{lab.id}}" style="background: #5dc560;border-color:#5dc560;">
                                                        View Message
                                                    </button>
                                                </div>
                                                <div class="tg-serviceandservicetype">
                                                    <h3>Action</h3>
                                                    {% if lab.status == 'Accepted' %}
                                                    <i class="fa fa-check" title="accepted"></i>
                                                    {% elif lab.status == 'Denied' %}
                                                    <i class="fa fa-ban " title="Reject" aria-hidden="true"></i>
                                                    {% elif lab.status == 'Requested' %}
                                                    <a href="{% url 'booking:booking_accept' lab.pk %}"><i class="fa fa-edit " title="Change Status" aria-hidden="true"></i></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% else %}
<center>
    <h3>No booking requests to show</h3>
</center>
{% endif %}
{% endblock index %}