{% load static %}
{% load widget_tweaks %}
<!-- <h2 style="text-align: center;">COMING SOON!!!</h2>
 -->
{% for field in form %}
<div class="content">
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}