<head>
  <script>
  $( function() {
    $( "#id_CheckInDate" ).datepicker({
            dateFormat:'yy-mm-dd'
        });
    
  } );
  </script>
  <script>
  $( function() {
    $( "#id_CheckOutDate" ).datepicker({
            dateFormat:'yy-mm-dd'
        });
    
  } );
  </script>
</head>
<form method="post" action="{% url 'booking:book' 1  %}" class="js-order-pleced"  >
  {% csrf_token %}
  <div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
   <div class="box" >
   <div class="content">
    <h4 class="modal-title" ></h4>
  </div>
  <div class="modal-body" >
    {{form}} 
    <br><br>
    <button type="submit" class="btn tg-btn">Confirm Booking</button>
    <button type="button" class="btn tg-btn" data-dismiss="modal">Close</button>
  </div>
  <div class="modal-footer">
 {#  <button type="submit" class="btn tg-btn">Confirm Booking</button> #}
  </div>
</form>









