{% extends 'home/base.html' %}
{% load staticfiles %}
{% block index %}
{% if booking_labs %}
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-widgetprofile">
                            <figure class="tg-profilebannerimg">
                                <img src="images/img-02.jpg" alt="image description">
                            </figure>
                            <div class="tg-widgetcontent">
                                <figure>
                                    <img src="images/thumbnails/img-07.jpg" alt="image description">
                                    <a class="tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
                                </figure>
                                <div class="tg-admininfo">
                                    <h3>Kena Maresca</h3>
                                    <h4>Bright Future Group &amp; Company</h4>
                                    <!--
                                    <ul class="tg-matadata">
                                        <li><span class="tg-stars"><span></span></span></li>
                                        <li>
                                            <i class="fa fa-thumbs-o-up"></i>
                                            <em>99% (1009 votes)</em>
                                        </li>
                                    </ul>
                                    -->
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-dashboard tg-dashboardappointmentsetting">
                            <form class="tg-themeform">
                                <fieldset>
                                    <div class="tg-dashboardbox tg-dashboardappointments">
                                        <div class="tg-dashboardtitle">
                                            <h2>My Bookings</h2>
                                        </div>
                                        <div id="tg-datepicker" class="tg-datepicker"></div>
                                        <div class="tg-sortfilters">
                                            <div class="tg-sortfilter tg-sortby">
                                                <span>Sort By:</span>
                                                <div class="tg-select">
                                                    <select>
                                                        <option>days</option>
                                                        <option>Type</option>
                                                        <option>date</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tg-sortfilter tg-arrange">
                                                <span>Arrange:</span>
                                                <div class="tg-select">
                                                    <select>
                                                        <option>des</option>
                                                        <option>Asc</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tg-sortfilter tg-show">
                                                <span>Show:</span>
                                                <div class="tg-select">
                                                    <select>
                                                        <option>All</option>
                                                        <option>24</option>
                                                        <option>all</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% if booking_labs %}
                                        {% for lab in booking_labs %}
                                        <div class="tg-dashboardservices">
                                            <div class="tg-dashboardservice">
                                                <div class="tg-servicetitle">
                                                    <h2><a href="#" data-toggle="modal" data-target=".tg-categoryModal">{{lab.lab.name}}</a>
                                                        {% if lab.status == 'Accepted' %}
                                                        <span>({{lab.status}})</span>
                                                        {% elif lab.status == 'Requested' %}
                                                        <span>({{lab.status}})</span>
                                                        {% elif lab.status == 'Denied' %}
                                                        <span>({{lab.status}})</span>
                                                        {% endif %}</h2>
                                                </div>
                                                <div class="tg-btntimeedit">
                                                    <span>{{lab.price}}</span>
                                                    <button class="tg-btnedite"><a data-toggle="modal"
                                                                                   data-target=".tg-categoryModal">
                                                        <i class="lnr lnr-pencil"></i></a>
                                                    </button>
                                                    <button class="tg-btndel"><a><i class="lnr lnr-trash"></i></a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%for lab in booking_labs%}
    <!--************************************
			Theme Modal Box Start
	*************************************-->
    <div class="modal fade tg-invoicemodal tg-categoryModal" tabindex="-1">
        <div class="modal-dialog tg-modaldialog" role="document">
            <div class="modal-content tg-modalcontent">
                <div class="tg-modalhead">
                    <h2>Details</h2>
                    <ul class="tg-btnaction">
                        <li class="tg-delete"><a href="#"><i class="lnr lnr-trash"></i></a></li>
                    </ul>
                </div>
                <div class="tg-modalbody">
                    <ul class="tg-invoicedetail">
                        <li><span>Lab Booked:</span><span>{{lab.lab.name}}</span></li>
                        <li><span>Company Name:</span><span>{{lab.lab.company}}</span></li>
                        <li><span>Amount:</span><span>${{lab.lab.price}}.00</span></li>
                        <li><span>Payment Method:</span><span>Stripe</span></li>
                        <li><span>Booking Status:</span>
                            {% if lab.status == 'Accepted' %}
                            <span>{{lab.status}}</span>
                            {% elif lab.status == 'Requested' %}
                            <span>{{lab.status}}</span>
                            {% elif lab.status == 'Denied' %}
                            <span>{{lab.status}}</span>
                            {% endif %}
                        </li>
                        <li><span>Booking Dates:</span>
                            <span>From:&nbsp;{{lab.CheckInDate}} {{lab.CheckInTime}} </br>
                                To:&nbsp;{{lab.CheckOutDate}} {{lab.CheckOutTime}}</span>
                        </li>
                        <li><span>Name:</span><span>{{lab.lab.contact_person}}</span></li>
                        <li>
                            <span>Address:</span><span>{{lab.lab.street_address}}, {{lab.lab.city}}, {{lab.lab.country}}</span>
                        </li>
                        <li><span>Message:</span><span>{{lab.message}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--************************************
                Theme Modal Box End
    *************************************-->
    {% endfor %}
    {% endif %}
</main>
{% else %}
<center><h3>No booking requests to show</h3></center>
{% endif %}
{% endblock index %}