<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body class="tg-login">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Preloader Start
	*************************************-->
	<div class="preloader-outer">
		<div class="pin"></div>
		<div class="pulse"></div>
	</div>
	<!--************************************
			Preloader End
	*************************************-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="tg-topbar tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<ul class="tg-addressinfo">
								<li>
									<i class="lnr lnr-envelope"></i>
									<a href="mailto:info@domain.com">info@domain.com</a>
								</li>
								<li>
									<i class="lnr lnr-phone-handset"></i>
									<span>+4 1234 567890</span>
								</li>
							</ul>
							<div class="tg-themedropdown tg-languagesdropdown">
								<a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<em><img src="images/flags/img-01.jpg" alt="image description"></em>
									<span>eng</span>
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="tg-dropdownmenu" aria-labelledby="tg-languages">
									<li>
										<a href="#">
											<em><img src="images/flags/img-02.jpg" alt="image description"></em>
											<span>chi</span>
										</a>
									</li>
									<li class="tg-active">
										<a href="#">
											<em><img src="images/flags/img-03.jpg" alt="image description"></em>
											<span>eng</span>
										</a>
									</li>
									<li>
										<a href="#">
											<em><img src="images/flags/img-04.jpg" alt="image description"></em>
											<span>rus</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="tg-adminbox">
								<div class="tg-loginregister">
									<a class="tg-btnlogin" href="javascript:void(0);">Login</a>
									<a class="tg-btnregister" href="javascript:void(0);">Register</a>
								</div>
								<div class="tg-useradminbox">
									<div class="tg-themedropdown tg-userdropdown">
										<a href="javascript:void(0);" id="tg-usermenu" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<em><img src="images/thumbnails/img-01.jpg" alt="image description"></em>
											<span>Hi! Kena Maresca</span>
											<i class="fa fa-angle-down"></i>
										</a>
										<div class="tg-dropdownmenu tg-usermenu" aria-labelledby="tg-usermenu">
											<nav id="tg-dashboardnav" class="tg-dashboardnav">
												<ul>
													<li>
														<a href="dashboard.html">
															<i class="lnr lnr-database"></i>
															<span>Insights</span>
														</a>
													</li>
													<li class="tg-active">
														<a href="dashboardprofilesetting.html">
															<i class="lnr lnr-cog"></i>
															<span>Profile Settings</span>
														</a>
													</li>
													<li>
														<a href="dashboardbusinesshours.html">
															<i class="lnr lnr-clock"></i>
															<span>Business Hours</span>
														</a>
													</li>
													<li>
														<a href="dashboardmanageservice.html">
															<i class="lnr lnr-briefcase"></i>
															<span>Manage Services</span>
														</a>
													</li>
													<li>
														<a href="dashboardmanageteams.html">
															<i class="lnr lnr-users"></i>
															<span>Manage Team</span>
														</a>
													</li>
													<li>
														<a href="dashboardmanagejobs.html">
															<i class="lnr lnr-map"></i>
															<span>Manage Jobs</span>
														</a>
													</li>
													<li class="tg-privatemessages tg-hasdropdown">
														<a id="tg-btntoggle" class="tg-btntoggle" href="javascript:void(0);">
															<i class="lnr lnr-envelope"></i>
															<span>Private Messages</span>
															<em class="tg-totalmessages">526</em>
															<em class="tg-newmessages">1</em>
														</a>
														<ul class="tg-emailmenu">
															<li class="tg-active">
																<a href="dashboardprivatemessages.html">
																	<span>inbox</span>
																	<em class="tg-totalmessages">526</em>
																	<em class="tg-newmessages">1</em>
																</a>
															</li>
															<li>
																<a href="dashboardprivatemessages.html">
																	<span>sent</span>
																	<em class="tg-totalmessages">370</em>
																</a>
															</li>
															<li>
																<a href="dashboardprivatemessages.html">
																	<span>trash</span>
																	<em class="tg-totalmessages">160</em>
																</a>
															</li>
															<li>
																<a href="dashboardprivatemessages.html">
																	<span>spam/junk</span>
																	<em class="tg-totalmessages">1260</em>
																</a>
															</li>
														</ul>
													</li>
													<li>
														<a href="dashboardappointment.html">
															<i class="lnr lnr-calendar-full"></i>
															<span>Appointments</span>
														</a>
													</li>
													<li>
														<a href="dashboardappointmentsetting.html">
															<i class="lnr lnr-calendar-full"></i>
															<span>Appointment Settings</span>
														</a>
													</li>
													<li>
														<a href="dashboardfavoritlisting.html">
															<i class="lnr lnr-heart"></i>
															<span>Favourite Listings</span>
														</a>
													</li>
													<li>
														<a href="dashboardinvoices.html">
															<i class="lnr lnr-list"></i>
															<span>Invoices</span>
															<em class="tg-invoices">23</em>
														</a>
													</li>
													<li class="tg-updatepackage">
														<a href="dashboardupgradepackage.html">
															<i class="lnr lnr-layers"></i>
															<span>Update Package</span>
															<em class="lnr lnr-flag tg-taginfo"></em>
														</a>
													</li>
													<li>
														<a href="dashboardsecuritysetting.html">
															<i class="lnr lnr-construction"></i>
															<span>Security Settings</span>
														</a>
													</li>
													<li>
														<a href="dashboardprivacysetting.html">
															<i class="lnr lnr-lock"></i>
															<span>Privacy Settings</span>
														</a>
													</li>
													<li>
														<a href="#">
															<i class="lnr lnr-exit"></i>
															<span>Logout</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-navigationarea">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<strong class="tg-logo"><a href="index.html"><img src="images/logo.png" alt="image description"></a></strong>
							<div class="tg-rightarea">
								<nav id="tg-nav" class="tg-nav">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
										<ul>
											<li class="menu-item-has-children">
												<a href="#">Home</a>
												<ul class="sub-menu">
													<li>
														<a href="index.html">Home-1</a>
													</li>
													<li>
														<a href="index-1.html">Home-2</a>
													</li>
												</ul>
											</li>
											<li><a href="aboutus.html">About</a></li>
											<li class="menu-item-has-children">
												<a href="#">Listings</a>
												<ul class="sub-menu">
													<li>
														<a href="listinggrid-v1.html">Listing Grid</a>
													</li>
													<li>
														<a href="listinggrid-v2.html">Listing Grid 2</a>
													</li>
													<li>
														<a href="listinglist-v1.html">Listing List</a>
													</li>
													<li>
														<a href="listinglist-v2.html">Listing List 2</a>
													</li>
												</ul>
											</li>
											<li class="menu-item-has-children">
												<a href="javascript:void(0);">Categories</a>
												<ul class="sub-menu">
													<li class="menu-item-has-children">
														<a href="#">Automotive</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Beauty &amp; Personal Care</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Business</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Child Care</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Cleaning</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Computer &amp; Mobile Service</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Food &amp; Drinks</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">General Labor</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Construction &amp; Renovation</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Health &amp; Fitness</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Pet Care</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Traning &amp; Education</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children">
														<a href="#">Transportation &amp; Travel</a>
														<ul class="sub-menu">
															<li><a href="categories3col.html">Catagories</a></li>
															<li><a href="categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item-has-children">
												<a href="#">Provider Pages</a>
												<ul class="sub-menu">
													<li>
														<a href="listing-list-detail.html">Single Detail</a>
													</li>
													<li>
														<a href="listingdetail.html">Provider Detail</a>
													</li>
												</ul>
											</li>
											<li class="menu-item-has-children">
												<a href="#">Jobs</a>
												<ul class="sub-menu">
													<li>
														<a href="joblisting.html">Job Listing</a>
													</li>
													<li>
														<a href="jobdetail.html">Job Detail</a>
													</li>
												</ul>
											</li>
											<li class="menu-item-has-children">
												<a href="#">pages</a>
												<ul class="sub-menu">
													<li>
														<a href="bloglist.html">Blog List</a>
													</li>
													<li>
														<a href="bloggrid.html">Blog Grid</a>
													</li>
													<li>
														<a href="blogdetail.html">Blog Detail</a>
													</li>
													<li>
														<a href="contactus.html">Contact Us</a>
													</li>
													<li>
														<a href="loginregister.html">Login/Register</a>
													</li>
													<li>
														<a href="appointment.html">Appointment</a>
													</li>
													<li>
														<a href="404error.html">404 Error</a>
													</li>
													<li>
														<a href="commingsoon.html">Comming Soon</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</nav>
								<a class="tg-btn tg-btnpostanewjob" href="dashboard.html">Post A New Job</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Inner Page Banner Start
		*************************************-->
		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-pagetitle">
							<h1>Dashboard Profile setting</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="tg-active">Dashboard Profile setting</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Page Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widgetprofile">
									<figure class="tg-profilebannerimg">
										<img src="images/img-02.jpg" alt="image description">
									</figure>
									<div class="tg-widgetcontent">
										<figure>
											<img src="images/thumbnails/img-07.jpg" alt="image description">
											<a class="tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
										</figure>
										<div class="tg-admininfo">
											<h3>Kena Maresca</h3>
											<h4>Bright Future Group &amp; Company</h4>
											<ul class="tg-matadata">
												<li><span class="tg-stars"><span></span></span></li>
												<li>
													<i class="fa fa-thumbs-o-up"></i>
													<em>99% (1009 votes)</em>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="tg-widgetdashboard">
									<nav id="tg-dashboardnav" class="tg-dashboardnav">
										<ul>
											<li>
												<a href="dashboard.html">
													<i class="lnr lnr-database"></i>
													<span>Insights</span>
												</a>
											</li>
											<li class="tg-active">
												<a href="dashboardprofilesetting.html">
													<i class="lnr lnr-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="dashboardbusinesshours.html">
													<i class="lnr lnr-clock"></i>
													<span>Business Hours</span>
												</a>
											</li>
											<li>
												<a href="dashboardmanageservice.html">
													<i class="lnr lnr-briefcase"></i>
													<span>Manage Services</span>
												</a>
											</li>
											<li>
												<a href="dashboardmanageteams.html">
													<i class="lnr lnr-users"></i>
													<span>Manage Team</span>
												</a>
											</li>
											<li>
												<a href="dashboardmanagejobs.html">
													<i class="lnr lnr-map"></i>
													<span>Manage Jobs</span>
												</a>
											</li>
											<li class="tg-privatemessages tg-hasdropdown">
												<a id="tg-btntoggle" class="tg-btntoggle" href="javascript:void(0);">
													<i class="lnr lnr-envelope"></i>
													<span>Private Messages</span>
													<em class="tg-totalmessages">526</em>
													<em class="tg-newmessages">1</em>
												</a>
												<ul class="tg-emailmenu">
													<li class="tg-active">
														<a href="dashboardprivatemessages.html">
															<span>inbox</span>
															<em class="tg-totalmessages">526</em>
															<em class="tg-newmessages">1</em>
														</a>
													</li>
													<li>
														<a href="dashboardprivatemessages.html">
															<span>sent</span>
															<em class="tg-totalmessages">370</em>
														</a>
													</li>
													<li>
														<a href="dashboardprivatemessages.html">
															<span>trash</span>
															<em class="tg-totalmessages">160</em>
														</a>
													</li>
													<li>
														<a href="dashboardprivatemessages.html">
															<span>spam/junk</span>
															<em class="tg-totalmessages">1260</em>
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="dashboardappointment.html">
													<i class="lnr lnr-calendar-full"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="dashboardappointmentsetting.html">
													<i class="lnr lnr-calendar-full"></i>
													<span>Appointment Settings</span>
												</a>
											</li>
											<li>
												<a href="dashboardfavoritlisting.html">
													<i class="lnr lnr-heart"></i>
													<span>Favourite Listings</span>
												</a>
											</li>
											<li>
												<a href="dashboardinvoices.html">
													<i class="lnr lnr-list"></i>
													<span>Invoices</span>
													<em class="tg-invoices">23</em>
												</a>
											</li>
											<li class="tg-updatepackage">
												<a href="dashboardupgradepackage.html">
													<i class="lnr lnr-layers"></i>
													<span>Update Package</span>
													<em class="lnr lnr-flag tg-taginfo"></em>
												</a>
											</li>
											<li>
												<a href="dashboardsecuritysetting.html">
													<i class="lnr lnr-construction"></i>
													<span>Security Settings</span>
												</a>
											</li>
											<li>
												<a href="dashboardprivacysetting.html">
													<i class="lnr lnr-lock"></i>
													<span>Privacy Settings</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="lnr lnr-exit"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
								<div class="tg-widgetdashboard hidden-xs">
									<div class="tg-banneradd">
										<figure>
											<a href="#"><img src="images/add-01.png" alt="image description"></a>
										</figure>
									</div>
								</div>
							</aside>
						</div>
						<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
							<div id="tg-content" class="tg-content">
								<div class="tg-dashboard tg-dashboardprofilesetting">
									<form class="tg-themeform">
										<fieldset>
											<div class="tg-dashboardbox tg-uploadphotos">
												<div class="tg-dashboardtitle">
													<h2>Upload Photos</h2>
												</div>
												<div class="tg-uploadbox">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
															<div class="tg-upload">
																<div class="tg-uploadhead">
																	<span>
																		<h3>Upload Profile Photo/Logo</h3>
																		<i class="fa fa-exclamation-circle"></i>
																	</span>
																	<i class="lnr lnr-upload"></i>
																</div>
																<div class="tg-box">
																	<label class="tg-fileuploadlabel" for="tg-photoandlogo">
																		<i class="lnr lnr-cloud-upload"></i>
																		<span>Or Drag Your Files Here To Upload</span>
																		<input id="tg-photoandlogo" class="tg-fileinput" type="file" name="file">
																	</label>
																	<div class="tg-gallery tg-horizontalthemescrollbar">
																		<div class="tg-galleryimages">
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-24.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg tg-uploading">
																				<figure>
																					<img src="images/thumbnails/img-25.jpg" alt="image description">
																					<span class="tg-loader"><i class="fa fa-spinner"></i></span>
																					<span class="tg-uploadingbar"></span>
																				</figure>
																			</div>
																			<div class="tg-galleryimg tg-uploading">
																				<figure>
																					<img src="images/thumbnails/img-26.jpg" alt="image description">
																					<span class="tg-loader"><i class="fa fa-spinner"></i></span>
																					<span class="tg-uploadingbar"></span>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-27.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-28.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-29.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-24.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
															<div class="tg-upload">
																<div class="tg-uploadhead">
																	<span>
																		<h3>Upload Banner Photo</h3>
																		<i class="fa fa-exclamation-circle"></i>
																	</span>
																	<i class="lnr lnr-upload"></i>
																</div>
																<div class="tg-box">
																	<label class="tg-fileuploadlabel" for="tg-bannerphoto">
																		<i class="lnr lnr-cloud-upload"></i>
																		<span>Or Drag Your Files Here To Upload</span>
																		<input id="tg-bannerphoto" class="tg-fileinput" type="file" name="file">
																	</label>
																	<div class="tg-gallery tg-horizontalthemescrollbar">
																		<div class="tg-galleryimages">
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-24.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg tg-uploading">
																				<figure>
																					<img src="images/thumbnails/img-25.jpg" alt="image description">
																					<span class="tg-loader"><i class="fa fa-spinner"></i></span>
																					<span class="tg-uploadingbar"></span>
																				</figure>
																			</div>
																			<div class="tg-galleryimg tg-uploading">
																				<figure>
																					<img src="images/thumbnails/img-26.jpg" alt="image description">
																					<span class="tg-loader"><i class="fa fa-spinner"></i></span>
																					<span class="tg-uploadingbar"></span>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-27.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-28.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-29.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																			<div class="tg-galleryimg">
																				<figure>
																					<img src="images/thumbnails/img-24.jpg" alt="image description">
																					<figcaption>
																						<i class="fa fa-check"></i>
																						<i class="fa fa-close"></i>
																					</figcaption>
																				</figure>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tg-dashboardbox tg-basicinformation">
												<div class="tg-dashboardtitle">
													<h2>Basic Infomartion</h2>
												</div>
												<div class="tg-basicinformationbox">
													<div class="row">
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="yourname" placeholder="Your Name">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="companytitle" placeholder="Company Title">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="phone" placeholder="Phone">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="mobile" placeholder="Mobile">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="fax" placeholder="Fax">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="email" class="form-control" name="email" placeholder="Email">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<div class="form-group">
																<input type="email" class="form-control" name="otheremail" placeholder="Other Email">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
															<input type="text" class="form-control" name="companyurl" placeholder="Company Url">
														</div>
													</div>
												</div>
											</div>
											<div class="tg-dashboardbox tg-socialinformation">
												<div class="tg-dashboardtitle">
													<h2>Social Infomartion</h2>
													<a class="tg-btnaddnew" href="#" data-toggle="modal" data-target=".tg-socialModal">+ add new</a>
												</div>
												<div class="tg-socialinformationbox">
													<div class="row">
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group tg-inputwithicon tg-facebook">
																<i class="tg-icon fa fa-facebook"></i>
																<input type="text" class="form-control" name="facebooklink" placeholder="Facebook Link">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group tg-inputwithicon tg-twitter">
																<i class="tg-icon fa fa-twitter"></i>
																<input type="text" class="form-control" name="twitterlink" placeholder="twitter Link">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group tg-inputwithicon tg-linkedin">
																<i class="tg-icon fa fa-linkedin"></i>
																<input type="text" class="form-control" name="linkedinlink" placeholder="linkedin Link">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group tg-inputwithicon tg-skype">
																<i class="tg-icon fa fa-skype"></i>
																<input type="text" class="form-control" name="skypelink" placeholder="skype Link">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group tg-inputwithicon tg-googleplus">
																<i class="tg-icon fa fa-google-plus"></i>
																<input type="text" class="form-control" name="googlepluslink" placeholder="google Plus Link">
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group tg-inputwithicon tg-pinterestp">
																<i class="tg-icon fa fa-pinterest-p"></i>
																<input type="text" class="form-control" name="pinterestlink" placeholder="pinterest Link">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tg-dashboardbox tg-location">
												<div class="tg-dashboardtitle">
													<h2>Location</h2>
													<a class="tg-btnaddnew" href="#">+ add new</a>
												</div>
												<div class="tg-locationbox">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
															<div class="form-group tg-inputwithicon">
																<input type="text" class="form-control" name="country" placeholder="Country">
																<i class="fa fa-crosshairs tg-icon"></i>
																<i class="fa fa-angle-down tg-icon"></i>
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="city" placeholder="City">
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
															<div class="form-group">
																<input type="text" class="form-control" name="state" placeholder="State">
															</div>
														</div>
													</div>
													<div id="tg-locationmap" class="tg-locationmap"></div>
												</div>
											</div>
											<div class="tg-dashboardbox tg-introduction">
												<div class="tg-dashboardtitle">
													<h2>Introduction</h2>
												</div>
												<div class="tg-introductionbox">
													<textarea class="form-control" name="introduction" placeholder="Introduction Here"></textarea>
												</div>
											</div>
											<div class="tg-dashboardbox tg-languages">
												<div class="tg-dashboardtitle">
													<h2>Languages</h2>
												</div>
												<div class="tg-languagesbox">
													<div class="form-group">
														<span class="tg-select">
															<select>
																<option>Select Language</option>
																<option>English</option>
																<option>Arabic</option>
																<option>Portuguese</option>
																<option>Russian</option>
																<option>Japanese</option>
																<option>German</option>
																<option>Korean</option>
																<option>French</option>
																<option>Turkish</option>
																<option>Italian</option>
																<option>Persian</option>
																<option>Romanian</option>
																<option>Dutch</option>
																<option>Greek</option>
															</select>
														</span>
														<button class="tg-btn" type="button">add now</button>
													</div>
													<ul class="tg-tagdashboardlist">
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>English</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Arabic</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Portuguese</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Russian</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Japanese</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>German</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Korean</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>French</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Turkish</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Italian</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Persian</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Romanian</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Dutch</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Greek</em>
															</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="tg-dashboardbox tg-certificatesawards">
												<div class="tg-dashboardtitle">
													<h2>Certificates &amp; Awards</h2>
													<a class="tg-btnaddnew" href="#" class="" data-toggle="modal" data-target=".tg-certificatesawardsModal">+ add new</a>
												</div>
												<div class="tg-certificatesawardsbox">
													<div class="tg-certificatesaward">
														<div class="tg-imgandtitle">
															<figure><a href="#"><img src="images/thumbnails/img-14.jpg" align="image description"></a></figure>
															<h3><a href="javascript:void(0);">Best Service Provider</a></h3>
														</div>
														<div class="tg-btntimeedit">
															<span>June 27, 2016</span>
															<button class="tg-btnedite"><i class="lnr lnr-pencil"></i></button>
															<button class="tg-btndel"><i class="lnr lnr-trash"></i></button>
														</div>
													</div>
													<div class="tg-certificatesaward">
														<div class="tg-imgandtitle">
															<figure><a href="#"><img src="images/thumbnails/img-15.jpg" align="image description"></a></figure>
															<h3><a href="javascript:void(0);">Best Customer Support</a></h3>
														</div>
														<div class="tg-btntimeedit">
															<span>April 13, 2016</span>
															<button class="tg-btnedite"><i class="lnr lnr-pencil"></i></button>
															<button class="tg-btndel"><i class="lnr lnr-trash"></i></button>
														</div>
													</div>
													<div class="tg-certificatesaward">
														<div class="tg-imgandtitle">
															<figure><a href="#"><img src="images/thumbnails/img-16.jpg" align="image description"></a></figure>
															<h3><a href="javascript:void(0);">Client Satisfaction Award</a></h3>
														</div>
														<div class="tg-btntimeedit">
															<span>June 27, 2016</span>
															<button class="tg-btnedite"><i class="lnr lnr-pencil"></i></button>
															<button class="tg-btndel"><i class="lnr lnr-trash"></i></button>
														</div>
													</div>
													<div class="tg-certificatesaward">
														<div class="tg-imgandtitle">
															<figure><a href="#"><img src="images/thumbnails/img-17.jpg" align="image description"></a></figure>
															<h3><a href="javascript:void(0);">Best Service Provider</a></h3>
														</div>
														<div class="tg-btntimeedit">
															<span>January 27, 2017</span>
															<button class="tg-btnedite"><i class="lnr lnr-pencil"></i></button>
															<button class="tg-btndel"><i class="lnr lnr-trash"></i></button>
														</div>
													</div>
												</div>
											</div>
											<div class="tg-dashboardbox tg-amenitiesfeatures">
												<div class="tg-dashboardtitle">
													<h2>Amenities / Features</h2>
												</div>
												<div class="tg-amenitiesfeaturesbox">
													<div class="form-group">
														<span class="tg-select">
															<select>
																<option>Amenities / Features</option>
																<option>Consectetur Adipisicing</option>
																<option>Eiusmod Tempor</option>
																<option>Incididunt Ut Labore</option>
																<option>Dolore Magna Aliqua</option>
																<option>Ad Minim Veniam</option>
																<option>Exercitation Ullamco</option>
															</select>
														</span>
														<button class="tg-btn" type="button">add now</button>
													</div>
													<ul class="tg-tagdashboardlist">
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Consectetur Adipisicing</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Eiusmod Tempor</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Incididunt Ut Labore</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Dolore Magna Aliqua</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Ad Minim Veniam</em>
															</span>
														</li>
														<li>
															<span class="tg-tagdashboard">
																<i class="fa fa-close"></i>
																<em>Exercitation Ullamco</em>
															</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="tg-dashboardbox tg-imggallery">
												<div class="tg-dashboardtitle">
													<h2>Gallery</h2>
												</div>
												<div class="tg-imggallerybox">
													<div class="tg-upload">
														<div class="tg-uploadhead">
															<span>
																<h3>Upload Photo Gallery</h3>
																<i class="fa fa-exclamation-circle"></i>
															</span>
															<i class="lnr lnr-upload"></i>
														</div>
														<div class="tg-box">
															<label class="tg-fileuploadlabel" for="tg-photogallery">
																<i class="lnr lnr-cloud-upload"></i>
																<span>Or Drag Your Files Here To Upload</span>
																<input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
															</label>
															<div class="tg-gallery tg-horizontalthemescrollbar">
																<div class="tg-galleryimages">
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-30.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg tg-uploading">
																		<figure>
																			<img src="images/thumbnails/img-31.jpg" alt="image description">
																			<span class="tg-loader"><i class="fa fa-spinner"></i></span>
																			<span class="tg-uploadingbar"></span>
																		</figure>
																	</div>
																	<div class="tg-galleryimg tg-uploading">
																		<figure>
																			<img src="images/thumbnails/img-32.jpg" alt="image description">
																			<span class="tg-loader"><i class="fa fa-spinner"></i></span>
																			<span class="tg-uploadingbar"></span>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-33.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-34.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-35.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-36.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-24.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-25.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-26.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-27.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-28.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-29.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																	<div class="tg-galleryimg">
																		<figure>
																			<img src="images/thumbnails/img-30.jpg" alt="image description">
																			<figcaption><i class="fa fa-close"></i></figcaption>
																		</figure>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tg-dashboardbox tg-videogallery">
												<div class="tg-dashboardtitle">
													<h2>Videos</h2>
												</div>
												<div class="tg-videogallerybox">
													<div class="form-group">
														<input type="text" name="videourl" class="form-control" placeholder="Enter Video URL Here">
														<button class="tg-btn" type="button">add now</button>
													</div>
													<ul>
														<li>
															<div class="tg-videobox">
																<figure>
																	<a href="images/placeholder/img-03.jpg" data-rel="prettyPhoto[videogallery]" rel="prettyPhoto[videogallery]">
																		<img src="images/placeholder/img-03.jpg" alt="image description">
																	</a>
																</figure>
															</div>
														</li>
														<li>
															<div class="tg-videobox">
																<figure>
																	<a href="images/placeholder/img-04.jpg" data-rel="prettyPhoto[videogallery]" rel="prettyPhoto[videogallery]">
																		<img src="images/placeholder/img-04.jpg" alt="image description">
																	</a>
																</figure>
															</div>
														</li>
														<li>
															<div class="tg-videobox">
																<figure>
																	<a href="images/placeholder/img-05.jpg" data-rel="prettyPhoto[videogallery]" rel="prettyPhoto[videogallery]">
																		<img src="images/placeholder/img-05.jpg" alt="image description">
																	</a>
																</figure>
															</div>
														</li>
														<li>
															<div class="tg-videobox">
																<figure>
																	<a href="images/placeholder/img-06.jpg" data-rel="prettyPhoto[videogallery]" rel="prettyPhoto[videogallery]">
																		<img src="images/placeholder/img-06.jpg" alt="image description">
																	</a>
																</figure>
															</div>
														</li>
														<li>
															<div class="tg-videobox">
																<figure>
																	<a href="images/placeholder/img-06.jpg" data-rel="prettyPhoto[videogallery]" rel="prettyPhoto[videogallery]">
																		<img src="images/placeholder/img-06.jpg" alt="image description">
																	</a>
																</figure>
															</div>
														</li>
														<li>
															<div class="tg-videobox">
																<figure>
																	<a href="images/placeholder/img-06.jpg" data-rel="prettyPhoto[videogallery]" rel="prettyPhoto[videogallery]">
																		<img src="images/placeholder/img-06.jpg" alt="image description">
																	</a>
																</figure>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="tg-dashboardbox tg-brochureupload">
												<div class="tg-dashboardtitle">
													<h2>Brochure</h2>
												</div>
												<div class="tg-brochureuploadbox">
													<div class="tg-upload">
														<div class="tg-uploadhead">
															<span>
																<h3>Upload Brochure</h3>
																<i class="fa fa-exclamation-circle"></i>
															</span>
															<i class="lnr lnr-upload"></i>
														</div>
														<div class="tg-box">
															<label class="tg-fileuploadlabel" for="tg-photogallery">
																<i class="lnr lnr-cloud-upload"></i>
																<span>Or Drag Your Files Here To Upload</span>
																<input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
															</label>
															<ul class="tg-tagdashboardlist">
																<li>
																	<span class="tg-tagdashboard">
																		<i class="fa fa-close"></i>
																		<em>2017 Document.pdf</em>
																	</span>
																</li>
																<li>
																	<span class="tg-tagdashboard">
																		<i class="fa fa-close"></i>
																		<em>2016 Document.pdf</em>
																	</span>
																</li>
																<li>
																	<span class="tg-tagdashboard">
																		<i class="fa fa-close"></i>
																		<em>2015 Document.ppt</em>
																	</span>
																</li>
																<li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div id="tg-updateall" class="tg-updateall">
												<div class="tg-holder">
													<span class="tg-note">* Click <strong>Update Now</strong> to update latest added detail (s).</span>
													<a class="tg-btn" href="#">Update Now</a>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-features">
							<li>
								<div class="tg-feature">
									<span class="tg-featureicon">
										<i class="lnr lnr-diamond"></i>
									</span>
									<div class="tg-featurecontent">
										<h3>Best Sevices Award</h3>
										<span>Earned best service award in 2016</span>
									</div>
								</div>
							</li>
							<li>
								<div class="tg-feature">
									<span class="tg-featureicon">
										<i class="lnr lnr-users"></i>
									</span>
									<div class="tg-featurecontent">
										<h3>Verified Service Providers</h3>
										<span>More than 35000 service providers</span>
									</div>
								</div>
							</li>
							<li>
								<div class="tg-feature">
									<span class="tg-featureicon">
										<i class="lnr lnr-diamond"></i>
									</span>
									<div class="tg-featurecontent">
										<h3>User Friendly Focused</h3>
										<span>Given attention to rich user experience</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tg-fourcolumns">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn">
								<strong class="tg-logo"><a href="#"><img src="images/flogo.png" alt="image description"></a></strong>
								<div class="tg-description">
									<p>Conseetur elit sed eiumod  apor incidunt ut lbore et dolore <a href="#">more...</a></p>
								</div>
								<ul class="tg-contactinfo">
									<li>
										<i class="lnr lnr-location"></i>
										<address>Abc tower, xyz street UK, HG521A</address>
									</li>
									<li>
										<i class="lnr lnr-phone-handset"></i>
										<span>0800 - 1234 - 562 - 6</span>
									</li>
									<li>
										<i class="lnr lnr-envelope"></i>
										<span><a href="query@domain.com">query@domain.com</a></span>
									</li>
									<li>
										<i class="lnr lnr-construction"></i>
										<span><a href="complaint@domain.com">complaint@domain.com</a></span>
									</li>
								</ul>
								<ul class="tg-socialicons">
									<li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgettwitter">
								<div class="tg-widgettitle">
									<h3>Latest Tweets</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li>
											<div class="tg-description"><p>Sed ut perspiciatis unde omnis isteat natus error sit voluptatem</p></div>
											<a href="http://www.domainurl.com ">http://www.domainurl.com</a>
											<time datetime="2016-08-08">2 hours ago</time>
										</li>
										<li>
											<div class="tg-description"><p>Sed ut perspiciatis unde omnis isteat natus error sit voluptatem</p></div>
											<a href="http://www.domainurl.com ">http://www.domainurl.com</a>
											<time datetime="2016-08-08">3 hours ago</time>
										</li>
										<li><a href="javascript:void(0);">view all</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgetusefullinks">
								<div class="tg-widgettitle">
									<h3>Useful Links</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li><a href="#">Perspiciatis ate</a></li>
										<li><a href="#">Aomnis isteat</a></li>
										<li><a href="#">Canatus error</a></li>
										<li><a href="#">Voluptatem clu</a></li>
										<li><a href="#">Commodo</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Duis aute</a></li>
										<li><a href="#">Aincididunt</a></li>
										<li><a href="#">Alter veritatis</a></li>
										<li><a href="#">Tempora Incid</a></li>
										<li><a href="#">Dolore Magnam</a></li>
										<li><a href="#">Aliquam Quaerat</a></li>
										<li><a href="#">Quisquam</a></li>
										<li><a href="#">Voluptatem</a></li>
										<li><a href="#">Aliquip</a></li>
										<li><a href="#">Adipisicing</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgetfreeinspection">
								<div class="tg-widgettitle">
									<h3>Offer Free Inspection</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li>
											<figure><a href="#"><img src="images/logos/img-01.png" alt="image description"></a></figure>
											<div class="tg-contentbox">
												<h4><a href="#">Manchester Cleaning Service</a></h4>
												<ul class="tg-matadata">
													<li><span class="tg-stars"><span></span></span></li>
													<li>
														<i class="fa fa-thumbs-o-up"></i>
														<em>99% (1009 votes)</em>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<figure><a href="#"><img src="images/logos/img-02.png" alt="image description"></a></figure>
											<div class="tg-contentbox">
												<h4><a href="#">Manchester Cleaning Service</a></h4>
												<ul class="tg-matadata">
													<li><span class="tg-stars"><span></span></span></li>
													<li>
														<i class="fa fa-thumbs-o-up"></i>
														<em>99% (1009 votes)</em>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<figure><a href="#"><img src="images/logos/img-03.png" alt="image description"></a></figure>
											<div class="tg-contentbox">
												<h4><a href="#">Manchester Cleaning Service</a></h4>
												<ul class="tg-matadata">
													<li><span class="tg-stars"><span></span></span></li>
													<li>
														<i class="fa fa-thumbs-o-up"></i>
														<em>99% (1009 votes)</em>
													</li>
												</ul>
											</div>
										</li>
										<li><a href="javascript:void(0);">view all</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span>Copyright &copy; 2017 All Rights Reserved - Service Providers</span>
							<nav class="tg-footernav">
								<ul>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Term and Conditions</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
			Theme Modal Box Start
	*************************************-->
	<div class="modal fade tg-socialModal" tabindex="-1">
		<div class="modal-dialog tg-modaldialog" role="document">
			<div class="modal-content tg-modalcontent">
				<div class="tg-modalhead">
					<h2>Select Social</h2>
					<span class="tg-selecteditems">06 Items Selected</span>
				</div>
				<div class="tg-modalbody">
					<form class="tg-themeform tg-formaddsocial">
						<ul class="tg-radiosocials">
							<li>
								<span class="tg-checkbox tg-facebook">
									<input type="checkbox" id="facebook" name="addsocial" value="facebook" checked>
									<label for="facebook">
										<i class="fa fa-facebook"></i>
										<em>Facebook</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-linkedin">
									<input type="checkbox" id="linkedin" name="addsocial" value="linkedin" checked>
									<label for="linkedin">
										<i class="fa fa-facebook"></i>
										<em>linkedin</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-twitter">
									<input type="checkbox" id="twitter" name="addsocial" value="twitter" checked>
									<label for="twitter">
										<i class="fa fa-facebook"></i>
										<em>twitter</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-skype">
									<input type="checkbox" id="skype" name="addsocial" value="skype" checked>
									<label for="skype">
										<i class="fa fa-facebook"></i>
										<em>skype</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-dropbox">
									<input type="checkbox" id="dropbox" name="addsocial" value="dropbox">
									<label for="dropbox">
										<i class="fa fa-facebook"></i>
										<em>dropbox</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-vimeo">
									<input type="checkbox" id="vimeo" name="addsocial" value="vimeo">
									<label for="vimeo">
										<i class="fa fa-facebook"></i>
										<em>vimeo</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-tumblr">
									<input type="checkbox" id="tumblr" name="addsocial" value="tumblr">
									<label for="tumblr">
										<i class="fa fa-facebook"></i>
										<em>tumblr</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-yahoo">
									<input type="checkbox" id="yahoo" name="addsocial" value="yahoo">
									<label for="yahoo">
										<i class="fa fa-facebook"></i>
										<em>yahoo</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-googleplus">
									<input type="checkbox" id="googleplus" name="addsocial" value="googleplus" checked>
									<label for="googleplus">
										<i class="fa fa-facebook"></i>
										<em>google plus</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-pinterestp">
									<input type="checkbox" id="pinterestp" name="addsocial" value="pinterestp" checked>
									<label for="pinterestp">
										<i class="fa fa-facebook"></i>
										<em>pinterest</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-youtube">
									<input type="checkbox" id="youtube" name="addsocial" value="youtube">
									<label for="youtube">
										<i class="fa fa-facebook"></i>
										<em>youtube</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-stumbleupon">
									<input type="checkbox" id="stumbleupon" name="addsocial" value="stumbleupon">
									<label for="stumbleupon">
										<i class="fa fa-facebook"></i>
										<em>stumbleupon</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-reddit">
									<input type="checkbox" id="reddit" name="addsocial" value="reddit">
									<label for="reddit">
										<i class="fa fa-facebook"></i>
										<em>reddit</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-quora">
									<input type="checkbox" id="quora" name="addsocial" value="quora">
									<label for="quora">
										<i class="fa fa-facebook"></i>
										<em>quora</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-yelp">
									<input type="checkbox" id="yelp" name="addsocial" value="yelp">
									<label for="yelp">
										<i class="fa fa-facebook"></i>
										<em>yelp</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-soundcloud">
									<input type="checkbox" id="soundcloud" name="addsocial" value="soundcloud">
									<label for="soundcloud">
										<i class="fa fa-facebook"></i>
										<em>soundcloud</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-whatsapp">
									<input type="checkbox" id="whatsapp" name="addsocial" value="whatsapp">
									<label for="whatsapp">
										<i class="fa fa-facebook"></i>
										<em>whatsapp</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-wechat">
									<input type="checkbox" id="wechat" name="addsocial" value="wechat">
									<label for="wechat">
										<i class="fa fa-facebook"></i>
										<em>wechat</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-instagram">
									<input type="checkbox" id="instagram" name="addsocial" value="instagram">
									<label for="instagram">
										<i class="fa fa-facebook"></i>
										<em>instagram</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-dribbble">
									<input type="checkbox" id="dribbble" name="addsocial" value="dribbble">
									<label for="dribbble">
										<i class="fa fa-facebook"></i>
										<em>dribbble</em>
									</label>
								</span>
							</li>
							<li>
								<span class="tg-checkbox tg-flickr">
									<input type="checkbox" id="flickr" name="addsocial" value="flickr">
									<label for="flickr">
										<i class="fa fa-facebook"></i>
										<em>flickr</em>
									</label>
								</span>
							</li>
						</ul>
					</form>
				</div>
				<div class="tg-modalfoot">
					<button class="tg-btn" type="submit">add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade tg-certificatesawardsModal" tabindex="-1">
		<div class="modal-dialog tg-modaldialog" role="document">
			<div class="modal-content tg-modalcontent">
				<div class="tg-modalhead">
					<h2>Add Certificates &amp; Awards</h2>
				</div>
				<div class="tg-modalbody">
					<form class="tg-themeform tg-formcertificatesawards">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group">
								<div class="tg-imggallerybox">
									<div class="tg-upload">
										<div class="tg-uploadhead">
											<span>
												<h3>Upload Photo</h3>
												<i class="fa fa-exclamation-circle"></i>
											</span>
											<i class="lnr lnr-upload"></i>
										</div>
										<div class="tg-box">
											<label class="tg-fileuploadlabel" for="tg-photogallery">
												<i class="lnr lnr-cloud-upload"></i>
												<span>Or Drag Your Files Here To Upload</span>
												<input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
											</label>
											<div class="tg-gallery tg-horizontalthemescrollbar">
												<div class="tg-galleryimages">
													<div class="tg-galleryimg">
														<figure>
															<img src="images/thumbnails/img-29.jpg" alt="image description">
															<figcaption>
																<i class="fa fa-check"></i>
																<i class="fa fa-close"></i>
															</figcaption>
														</figure>
													</div>
													<div class="tg-galleryimg tg-uploading">
														<figure>
															<img src="images/thumbnails/img-24.jpg" alt="image description">
															<span class="tg-loader"><i class="fa fa-spinner"></i></span>
															<span class="tg-uploadingbar"></span>
														</figure>
													</div>
													<div class="tg-galleryimg tg-uploading">
														<figure>
															<img src="images/thumbnails/img-25.jpg" alt="image description">
															<span class="tg-loader"><i class="fa fa-spinner"></i></span>
															<span class="tg-uploadingbar"></span>
														</figure>
													</div>
													<div class="tg-galleryimg">
														<figure>
															<img src="images/thumbnails/img-26.jpg" alt="image description">
															<figcaption>
																<i class="fa fa-check"></i>
																<i class="fa fa-close"></i>
															</figcaption>
														</figure>
													</div>
													<div class="tg-galleryimg">
														<figure>
															<img src="images/thumbnails/img-27.jpg" alt="image description">
															<figcaption>
																<i class="fa fa-check"></i>
																<i class="fa fa-close"></i>
															</figcaption>
														</figure>
													</div>
													<div class="tg-galleryimg">
														<figure>
															<img src="images/thumbnails/img-28.jpg" alt="image description">
															<figcaption>
																<i class="fa fa-check"></i>
																<i class="fa fa-close"></i>
															</figcaption>
														</figure>
													</div>
													<div class="tg-galleryimg">
														<figure>
															<img src="images/thumbnails/img-29.jpg" alt="image description">
															<figcaption>
																<i class="fa fa-check"></i>
																<i class="fa fa-close"></i>
															</figcaption>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" name="certificatesawards" placeholder="Certificates / Awards Title">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" name="date" placeholder="Date">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<textarea class="form-control" name="description" placeholder="Description"></textarea>
						</div>
					</form>
				</div>
				<div class="tg-modalfoot">
					<button class="tg-btn" type="submit">add</button>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
			Theme Modal Box End
	*************************************-->
<script src="{% static 'js/vendor/jquery-library.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mapclustering/data.json' %}"></script>
<!--<script src="{https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=en"></script>-->
<script src="{% static 'js/mapclustering/markerclusterer.min.js' %}"></script>
<!--<script src="{% static 'js/mapclustering/infobox.js' %}"></script>-->
<script src="{% static 'js/mapclustering/map.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/scrollbar.min.js' %}"></script>
<script src="{% static 'js/prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/readmore.js' %}"></script>
<!--<script src="{% static 'js/gmap3.js' %}"></script>-->
<script src="{% static 'js/main.js' %}"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/jquery.Jcrop.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/picture.js' %}" type="text/javascript"></script>
</body>
</html>