{% load i18n %}
<div class="list-group">
    <a href="{% url 'userprofile:profilesettings' %}" class="list-group-item{% if active == 'picture' %} active{% endif %}">{% trans 'Profile' %}</a>
    <a href="{% url 'userprofile:password' %}" class="list-group-item{% if active == 'password' %} active{% endif %}">{% trans 'Password' %}</a>
    {%comment %}<a href="{% url 'labs:company-add' %}" class="list-group-item{% if active == 'Add Company' %} active{% endif %}">{% trans 'Add Company' %}</a>{% endcomment %}
    <a href="{% url 'labs:company-list' %}" class="list-group-item{% if active == 'company' %} active{% endif %}">{% trans 'Company' %}</a>
</div>