{% extends 'home/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Account Settings' %}{% endblock %}
{% block index %}
<div class="container">
   <div class="page-content" style="padding:30px">
    <div class="row">
        <div class="col-md-2">
            {% include 'profile/partial_settings_menu.html' with active='password' %}
        </div>
        <div class="col-md-9">
            <form role="form" class="form-horizontal" method="post" action="{% url 'userprofile:password' %}">
                {% csrf_token %}
                {{ form.id }}
                {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field }}
                        {% if field.help_text %}
                        <span class="help-block">{{ field.help_text }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                        <label class="control-label">{{ error }}</label>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="tg-btn">{% trans 'Save' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
{% endblock index %}