{% load staticfiles %}
{% load i18n static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/notification.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.Jcrop.min.css' %}">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.Jcrop.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/picture.js' %}" type="text/javascript"></script>
<main>
    <div class="page-content">
        <div class="row">
            {% if uploaded_picture %}
            <form method="post" action="{% url 'userprofile:save_uploaded_picture' %}">
                {{form.as_p}}
                {% csrf_token %}
                <div class="modal fade" id="modal-upload-picture">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">{% trans 'Crop Picture' %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="selected-picture">
                                    <p>{% trans 'Crop the profile picture and then click on the' %} <strong>{% trans 'Save Picture' %}</strong> {% trans 'button' %}</p>
                                    <img src="{% get_media_prefix %}profile_pictures/{{ user.username }}_tmp.jpg?_={% now 'U' %}" id="crop-picture">
                                    <input type="hidden" id="x" name="x" />
                                    <input type="hidden" id="y" name="y" />
                                    <input type="hidden" id="w" name="w" />
                                    <input type="hidden" id="h" name="h" />
                                </div>
                                <script type="text/javascript">
                                $(function() {
                                    $("#modal-upload-picture").modal();
                                    window.history.pushState("", "", "/settings/picture/");
                                });
                                </script>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                                <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div><!-- /.page-content -->
    </section><!-- /section.signup-wrap -->
    </div>
</main>