{% load staticfiles %}
{% load i18n %}
{% include 'head.html' %}
{% include 'base.html' %}
{% load widget_tweaks %}
{% block main %}
<link href="{% static 'css/network.css' %}" rel="stylesheet" type="text/css">
<div class="page-header">
    <h1 style="text-align: center;">User-Lists</h1>
</div>
<div class="users">
    <div>
        {% for user in users %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="{{ user.profile.get_picture }}" style="width:50px">
                    <a href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}</a>
                </div>
                <div class="panel-body">
                    <p><strong>{% trans 'Job Title' %}:</strong> {{ user.profile.job_title }}</p>
                    <p><strong>{% trans 'Username' %}: </strong> {{ user.username }}</p>
                    <p><strong>{% trans 'Location' %}:</strong> {{ user.profile.location }}</p>
                    {% if user.profile.url %}
                    <p><strong>{% trans 'Url' %}:</strong> {{ user.profile.get_url }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div>
    <div class="row">{% endif %}
        {% endfor %}
    </div>
    {% endblock main %}
    </main>
    {% include 'footer.html' %}