{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.Jcrop.min.css' %}">
{% block index %}
<div class="container">
    <div class="page-content" style="padding:30px">
        <div class="row">
            <div class="col-md-2">
                {% include 'profile/partial_settings_menu.html' with active='picture' %}
            </div>
            <div class="col-md-3">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <img src="{{ user.profile.get_picture }}" style="width: 150px; border-radius: 5px; margin-bottom: 1em;">
                <form enctype="multipart/form-data" method="post" action="{% url 'userprofile:upload_picture' %}" id="picture-upload-form">
                    {% csrf_token %}
                    <input type="file" name="picture" style="display: none">
                    <button type="button" class="btn btn-default" id="btn-upload-picture">{% trans 'Upload new picture' %}</button>
                </form>
            </div>
            <div class="col-md-7">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="tg-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}